:root { 
  --black: #000000;
  --black-haze: #f6f6f6;
  --bon-jour: #e2e2e2;
  --candlelight: #ffcd14;
  --cream-can: #f2c756;
  --gallery: #ededed;
  --monza: #dd0d0d;
  --navy-blue: #1b68e2;
  --salomie: #ffdd90;
  --sandy-brown: #f2a456;
  --stratos: #03064d;
  --swirl: #d5cbcb;
  --tacao: #f0b173;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --font-size-xs: 15px;
  --font-size-xxs: 14px;
  --font-size-xxxs: 12px;
  --font-size-xxxxs: 10px;
 
  --font-family-hiragino_mincho_pron: "Hiragino Mincho ProN", Helvetica;
  --font-family-hiraginomaru_gothic_pron-w4: "HiraginoMaru Gothic ProN-W4", Helvetica;
  --font-family-hiraginomincho_pron-w3: "HiraginoMincho ProN-W3", Helvetica;
  --font-family-hiraginomincho_pron-w6: "HiraginoMincho ProN-W6", Helvetica;
  --font-family-mshtakan-regular: "Mshtakan-Regular", Helvetica;
}
.hiraginomarugothicpron-w4-normal-swirl-15px {
  color: var(--swirl);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-swirl-10px {
  color: var(--swirl);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-swirl-14px {
  color: var(--swirl);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-black-13px {
  color: var(--black);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-swirl-16px {
  color: var(--swirl);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-swirl-24px {
  color: var(--swirl);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-black-55px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-swirl-22px {
  color: var(--swirl);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-black-10px {
  color: var(--black);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-10px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-14px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-gallery-15px {
  color: var(--gallery);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-17px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-13px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-11px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-black-8px {
  color: var(--black);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-monza-16px {
  color: var(--monza);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-gallery-9px {
  color: var(--gallery);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-black-18px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-stratos-35px {
  color: var(--stratos);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-navy-blue-7px {
  color: var(--navy-blue);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-stratos-13-5px {
  color: var(--stratos);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 13.5px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-25px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-black-27px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-22px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.mshtakan-regular-normal-black-45px {
  color: var(--black);
  font-family: var(--font-family-mshtakan-regular);
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-black-25px {
  color: var(--black);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-monza-15px {
  color: var(--monza);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-black-35px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-black-17px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-stratos-15px {
  color: var(--stratos);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-white-55px {
  color: var(--white);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-navy-blue-12px {
  color: var(--navy-blue);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-black-10px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-19px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-monza-12px {
  color: var(--monza);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-27px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-monza-18px {
  color: var(--monza);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-monza-12px {
  color: var(--monza);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-monza-17px {
  color: var(--monza);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-monza-22px {
  color: var(--monza);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-8px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
}

.hiraginomarugothicpron-w4-normal-stratos-23px {
  color: var(--stratos);
  font-family: var(--font-family-hiraginomaru_gothic_pron-w4);
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-normal-black-17px {
  color: var(--black);
  font-family: var(--font-family-hiragino_mincho_pron);
  font-size: 17px;
}

.hiraginominchopron-w3-normal-black-7px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-9px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-normal-monza-12px {
  color: var(--monza);
  font-family: var(--font-family-hiragino_mincho_pron);
  font-size: var(--font-size-xxxs);
}

.hiraginominchopron-w3-normal-black-13-5px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 13.5px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-monza-30px {
  color: var(--monza);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-black-30px {
  color: var(--black);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-white-75px {
  color: var(--white);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w6-normal-salomie-32px {
  color: var(--salomie);
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-stratos-100px {
  color: var(--stratos);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
}

.hiraginominchopron-w3-normal-stratos-85px {
  color: var(--stratos);
  font-family: var(--font-family-hiraginomincho_pron-w3);
  font-size: 85px;
  font-style: normal;
  font-weight: 400;
}

.mshtakan-regular-normal-black-28px {
  color: var(--black);
  font-family: var(--font-family-mshtakan-regular);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}

.border-1px-black {
  border: 1px solid var(--black);
}

.border-1-7px-stratos {
  border: 1.7px solid var(--stratos);
}

.border-0-7px-white {
  border: 0.7px solid var(--white);
}

.border-0-3px-stratos {
  border: 0.3px solid var(--stratos);
}

.border-1px-salomie {
  border: 1px solid var(--salomie);
}

.border-1px-black-haze {
  border: 1px solid var(--black-haze);
}

:root {
}
