/* screen - zahlungsoptionen-376 */

.zahlungsoptionen-376 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1156px;
  min-width: 375px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.zahlungsoptionen-376 .rechteck-118-JuYUO9 {
  background-color: var(--gallery);
  box-shadow: 0px 2px 4px #00000029;
  height: 34px;
  left: 0px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  width: 100%;
}

.zahlungsoptionen-376 .gruppe-546-JuYUO9 {
  background-color: transparent;
  height: 17px;
  position: absolute;
  right: 21px;
  top: 8px;
  width: 107px;
}

.zahlungsoptionen-376 .sichere-bezahlung-pELBws {
  background-color: transparent;
  bottom: -2px;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  opacity: 0.73;
  position: absolute;
  right: -2px;
  text-align: left;
  white-space: nowrap;
  width: 92px;
}

.zahlungsoptionen-376 .gruppe-199-pELBws {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 12px;
}

.zahlungsoptionen-376 .rechteck-155-f4GQYK {
  background-color: var(--stratos);
  border-radius: 2px;
  height: calc(100.00% - 5px);
  left: 0px;
  position: absolute;
  top: 5px;
  width: 100%;
}

.zahlungsoptionen-376 .pfad-284-f4GQYK {
  background-color: transparent;
  height: 14px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: calc(100.00% - 4px);
}

.zahlungsoptionen-376 .pfad-285-f4GQYK {
  background-color: transparent;
  bottom: calc(29.77% - 2px);
  height: 5px;
  left: calc(49.02% - 3px);
  object-fit: cover;
  position: absolute;
  width: 7px;
}

.zahlungsoptionen-376 .gruppe-548-JuYUO9 {
  background-color: transparent;
  height: 17px;
  left: 30px;
  position: absolute;
  top: 9px;
  width: 78px;
}

.zahlungsoptionen-376 .stoffqualitt-1fAGh8 {
  background-color: transparent;
  bottom: -1px;
  height: 13px;
  letter-spacing: 0.00px;
  line-height: 10px;
  opacity: 0.73;
  position: absolute;
  right: -2px;
  text-align: left;
  white-space: nowrap;
  width: 62px;
}

.zahlungsoptionen-376 .iconfinder_4265038_b-1fAGh8 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 13px;
}

.zahlungsoptionen-376 .ellipse-41-hp9CVN {
  background-color: var(--stratos);
  border-radius: 2.75px;
  height: 6px;
  left: calc(49.99% - 3px);
  position: absolute;
  top: calc(33.49% - 2px);
  width: 6px;
}

.zahlungsoptionen-376 .pfad-286-hp9CVN {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.zahlungsoptionen-376 .gruppe-547-JuYUO9 {
  background-color: transparent;
  height: 14px;
  left: calc(46.35% - 35px);
  position: absolute;
  top: 10px;
  width: 75px;
}

.zahlungsoptionen-376 .handarbeit-gOlK6x {
  background-color: transparent;
  bottom: -2px;
  height: 12px;
  letter-spacing: 0.00px;
  line-height: 10px;
  opacity: 0.73;
  position: absolute;
  right: -2px;
  text-align: left;
  white-space: nowrap;
  width: 56px;
}

.zahlungsoptionen-376 .iconfinder_scissor_s-gOlK6x {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 16px;
}

.zahlungsoptionen-376 .pfad-273-MxuMhb {
  background-color: transparent;
  bottom: 2px;
  height: 1px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  width: 1px;
}

.zahlungsoptionen-376 .pfad-274-MxuMhb {
  background-color: transparent;
  height: calc(100.00% + 18px);
  left: -9px;
  object-fit: cover;
  position: absolute;
  top: -6px;
  width: calc(100.00% + 18px);
}

.zahlungsoptionen-376 .pfad-275-MxuMhb {
  background-color: transparent;
  height: 23px;
  object-fit: cover;
  position: absolute;
  right: -9px;
  top: 4.11%;
  width: 28px;
}

.zahlungsoptionen-376 .pfad-276-MxuMhb {
  background-color: transparent;
  height: 1px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 1px;
}

.zahlungsoptionen-376 .gruppe-327-JuYUO9 {
  background-color: transparent;
  bottom: -2px;
  height: 331px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.zahlungsoptionen-376 .rechteck-90-DxdIln {
  background-color: var(--stratos);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.zahlungsoptionen-376 .gruppe-356-DxdIln {
  background-color: transparent;
  height: 88px;
  left: calc(5.99% - 5px);
  position: absolute;
  top: calc(10.30% - 9px);
  width: 91px;
}

.zahlungsoptionen-376 .exklusive-serviceleistungen-DoBgHx {
  -webkit-text-stroke: 0.30000001192092896px var(--swirl);
  background-color: transparent;
  height: 40px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: -2px;
  width: calc(100.00% + 2px);
}

.zahlungsoptionen-376 .gruppe-137-DoBgHx {
  background-color: transparent;
  bottom: 1px;
  height: 11px;
  left: 0px;
  position: absolute;
  width: calc(100.00% - 9px);
}

.zahlungsoptionen-376 .versand-frei-yFpbO2 {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 1px);
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: -8px;
  white-space: nowrap;
  width: 62px;
}

.zahlungsoptionen-376 .truck-yFpbO2 {
  background-color: transparent;
  height: 100%;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 19px;
}

.zahlungsoptionen-376 .gruppe-359-DxdIln {
  background-color: transparent;
  height: 155px;
  left: calc(48.05% - 53px);
  position: absolute;
  top: 25px;
  width: 111px;
}

.zahlungsoptionen-376 .knnen-wir-helfen-mprspk {
  -webkit-text-stroke: 0.30000001192092896px var(--swirl);
  background-color: transparent;
  height: 32px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: -8px;
  width: calc(100.00% - 12px);
}

.zahlungsoptionen-376 .gruppe-357-mprspk {
  background-color: transparent;
  bottom: calc(46.52% - 5px);
  height: 10px;
  left: 0px;
  position: absolute;
  width: 61px;
}

.zahlungsoptionen-376 .gruppe-140-EvxoME {
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 38px;
}

.zahlungsoptionen-376 .kontakt-IVyDKs {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: -8px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.zahlungsoptionen-376 .contact-EvxoME {
  background-color: transparent;
  height: calc(100.00% - 2px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 18px;
}

.zahlungsoptionen-376 .gruppe-358-mprspk {
  background-color: transparent;
  bottom: calc(24.72% - 4px);
  height: 16px;
  left: 3px;
  position: absolute;
  width: calc(100.00% - 3px);
}

.zahlungsoptionen-376 .gruppe-141-uepyEA {
  background-color: transparent;
  bottom: 0px;
  height: 11px;
  position: absolute;
  right: 0px;
  width: 87px;
}

.zahlungsoptionen-376 .zahlungsoptionen-mvRfZq {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: -7px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.zahlungsoptionen-376 .money-uepyEA {
  background-color: transparent;
  height: calc(100.00% - 1px);
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 15px;
}

.zahlungsoptionen-376 .gruppe-694-mprspk {
  background-color: transparent;
  bottom: 0px;
  height: 14px;
  left: 4px;
  position: absolute;
  width: 40px;
}

.zahlungsoptionen-376 .gruppe-141-He8krM {
  background-color: transparent;
  cursor: pointer;
  height: 10px;
  position: absolute;
  right: 0px;
  top: calc(49.99% - 5px);
  width: 21px;
}

.zahlungsoptionen-376 .nft-yjBkKX {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: -8px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.zahlungsoptionen-376 .x498951_child_clothes-He8krM {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 12px;
}

.zahlungsoptionen-376 .gruppe-363-DxdIln {
  background-color: transparent;
  height: 196px;
  position: absolute;
  right: calc(5.44% - 6px);
  top: calc(18.48% - 36px);
  width: 102px;
}

.zahlungsoptionen-376 .das-unternehmen-GMZh7e {
  -webkit-text-stroke: 0.30000001192092896px var(--swirl);
  background-color: transparent;
  height: 17px;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: -8px;
  white-space: nowrap;
  width: calc(100.00% - 5px);
}

.zahlungsoptionen-376 .gruppe-362-GMZh7e {
  background-color: transparent;
  bottom: 0px;
  height: 11px;
  left: 1px;
  position: absolute;
  width: 68px;
}

.zahlungsoptionen-376 .gruppe-158-0VSwQs {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 15px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 15px);
}

.zahlungsoptionen-376 .impressum-JIW1Xj {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: -7px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.zahlungsoptionen-376 .gruppe-154-0VSwQs {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 11px;
}

.zahlungsoptionen-376 .gruppe-159-k6yxsx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.zahlungsoptionen-376 .ellipse-25-4xDpcx {
  background-color: var(--white);
  border-radius: 5.47px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.zahlungsoptionen-376 .i-4xDpcx {
  background-color: transparent;
  height: 10px;
  letter-spacing: 0.00px;
  line-height: 25px;
  overflow: hidden;
  position: absolute;
  right: calc(34.51% - 2px);
  text-align: left;
  top: -7px;
  white-space: nowrap;
  width: 4px;
}

.zahlungsoptionen-376 .gruppe-160-GMZh7e {
  background-color: transparent;
  height: 15px;
  left: 1px;
  position: absolute;
  top: calc(40.56% - 6px);
  width: 78px;
}

.zahlungsoptionen-376 .gruppe-155-a0SsPQ {
  background-color: transparent;
  bottom: 2px;
  height: 11px;
  position: absolute;
  right: 0px;
  width: 63px;
}

.zahlungsoptionen-376 .gruppe-138-EtDRyx {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.zahlungsoptionen-376 .ber-borbus-xIV45D {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: -7px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.zahlungsoptionen-376 .b-a0SsPQ {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 13px;
}

.zahlungsoptionen-376 .gruppe-361-GMZh7e {
  background-color: transparent;
  bottom: 28px;
  height: 26px;
  left: 1px;
  position: absolute;
  width: 100%;
}

.zahlungsoptionen-376 .gruppe-156-n9J7xO {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 16px;
  position: absolute;
  top: 0px;
  width: calc(100.00% - 16px);
}

.zahlungsoptionen-376 .geschftsbedien-gungen-1ZvbLj {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: -2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.zahlungsoptionen-376 .solid-n9J7xO {
  background-color: transparent;
  height: 12px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: calc(46.50% - 6px);
  width: 13px;
}

.zahlungsoptionen-376 .gruppe-360-GMZh7e {
  background-color: transparent;
  bottom: calc(41.77% - 5px);
  height: 13px;
  left: 0px;
  position: absolute;
  width: 81px;
}

.zahlungsoptionen-376 .gruppe-157-YJe4DV {
  background-color: transparent;
  bottom: 1px;
  cursor: pointer;
  height: 10px;
  position: absolute;
  right: 0px;
  width: 65px;
}

.zahlungsoptionen-376 .datenschutz-1OyDnE {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: -8px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.zahlungsoptionen-376 .cookie-YJe4DV {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 13px;
}

.zahlungsoptionen-376 .gruppe-325-DxdIln {
  background-color: transparent;
  bottom: 18px;
  cursor: pointer;
  height: 18px;
  position: absolute;
  right: 31px;
  width: 147px;
}

.zahlungsoptionen-376 .gruppe-162-7rKK4G {
  background-color: transparent;
  bottom: 1px;
  cursor: pointer;
  height: 15px;
  left: 0px;
  position: absolute;
  width: 122px;
}

.zahlungsoptionen-376 .folge-uns-auf-instagram-xfogZv {
  background-color: transparent;
  height: 17px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: -8px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.zahlungsoptionen-376 .icon-instagram-7rKK4G {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 18px;
}

.zahlungsoptionen-376 .ssl-DxdIln {
  background-color: transparent;
  bottom: 55px;
  display: block;
  height: 90px;
  left: calc(8.86% - 8px);
  object-fit: cover;
  opacity: 0;
  position: absolute;
  width: 90px;
}

.zahlungsoptionen-376 .ssl-DxdIln.bp1-animate-enter276 {
  animation: bp1-animate-enter276-frames 0.20s linear 0.10s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter276-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.zahlungsoptionen-376 .borbus-JuYUO9 {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  letter-spacing: 0.00px;
  line-height: 55px;
  position: absolute;
  right: calc(49.26% - 118px);
  text-align: left;
  top: 90px;
  white-space: nowrap;
  width: 240px;
}

.zahlungsoptionen-376 .gruppe-710-JuYUO9 {
  background-color: transparent;
  height: 353px;
  left: calc(50.00% - 166px);
  position: absolute;
  top: calc(38.36% - 135px);
  width: 331px;
}

.zahlungsoptionen-376 .gruppe-677-x2JwvY {
  background-color: transparent;
  height: 335px;
  left: calc(50.00% - 166px);
  position: absolute;
  top: 0px;
  width: 331px;
}

.zahlungsoptionen-376 .gruppe-544-SJ6AyJ {
  background-color: transparent;
  height: 335px;
  left: calc(7.88% - 25px);
  position: absolute;
  top: calc(50.00% - 168px);
  width: 318px;
}

.zahlungsoptionen-376 .gruppe-166-ijPptH {
  background-color: transparent;
  display: block;
  height: 259px;
  left: 1px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
}

.zahlungsoptionen-376 .gruppe-166-ijPptH.bp1-animate-enter277 {
  animation: bp1-animate-enter277-frames 0.20s linear 0.10s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter277-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.zahlungsoptionen-376 .bezahlen-sie-sicher-xRvLrT {
  background-color: transparent;
  height: 25px;
  letter-spacing: 0.00px;
  line-height: 25px;
  position: absolute;
  right: 43px;
  text-align: left;
  top: -1px;
  white-space: nowrap;
  width: 220px;
}

.zahlungsoptionen-376 .diese-anleitung-ist-xRvLrT {
  background-color: transparent;
  bottom: 2px;
  height: 63px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  width: calc(100.00% + 2px);
}

.zahlungsoptionen-376 .linie-28-xRvLrT {
  background-color: transparent;
  height: 1px;
  object-fit: cover;
  position: absolute;
  right: calc(48.29% - 36px);
  top: 31.08%;
  width: 76px;
}

.zahlungsoptionen-376 .gruppe-557-ijPptH {
  background-color: transparent;
  bottom: 0px;
  height: 49px;
  left: 0px;
  position: absolute;
  width: 269px;
}

.zahlungsoptionen-376 .downloadpdf-B11TpF {
  -webkit-text-stroke: 0.05000000074505806px var(--black);
  background-color: transparent;
  bottom: calc(42.19% - 7px);
  cursor: pointer;
  display: block;
  height: 17px;
  letter-spacing: 0.00px;
  line-height: 14px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  right: -2px;
  text-align: left;
  text-decoration: underline;
  transition: all 0.4s ease;
  white-space: nowrap;
  width: 214px;
}

.zahlungsoptionen-376 .downloadpdf-B11TpF.bp1-animate-enter278 {
  animation: bp1-animate-enter278-frames 0.20s linear 0.10s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter278-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.zahlungsoptionen-376 .downloadpdf-B11TpF:hover {
  transform: translate(0, -5px);
}

.zahlungsoptionen-376 .gruppe-556-B11TpF {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 49px;
}

.zahlungsoptionen-376 .ellipse-46-4tVSLa {
  background-color: var(--black);
  border-radius: 24.5px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.zahlungsoptionen-376 .linie-49-4tVSLa {
  background-color: transparent;
  height: 22px;
  left: calc(29.79% - 1px);
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 11px);
  width: 2px;
}

.zahlungsoptionen-376 .linie-51-4tVSLa {
  background-color: transparent;
  height: 2px;
  object-fit: cover;
  position: absolute;
  right: calc(49.15% - 10px);
  top: calc(42.55% - 1px);
  width: 20px;
}

.zahlungsoptionen-376 .linie-52-4tVSLa {
  background-color: transparent;
  bottom: calc(42.55% - 1px);
  height: 2px;
  object-fit: cover;
  position: absolute;
  right: calc(49.15% - 10px);
  width: 20px;
}

.zahlungsoptionen-376 .linie-50-4tVSLa {
  background-color: transparent;
  height: 22px;
  object-fit: cover;
  position: absolute;
  right: calc(29.79% - 1px);
  top: calc(50.00% - 11px);
  width: 2px;
}

.zahlungsoptionen-376 .kleidchenbezeichnung-SJ6AyJ {
  -webkit-text-stroke: 0.05000000074505806px var(--black);
  background-color: transparent;
  color: var(--black);
  display: block;
  font-family: var(--font-family-hiraginomincho_pron-w6);
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  height: 25px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 23px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: 143px;
  white-space: nowrap;
  width: 333px;
}

.zahlungsoptionen-376 .kleidchenbezeichnung-SJ6AyJ.bp1-animate-enter279 {
  animation: bp1-animate-enter279-frames 0.20s ease 0.10s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter279-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.zahlungsoptionen-376 .gruppe-706-x2JwvY {
  background-color: transparent;
  height: 11px;
  left: calc(23.69% - 19px);
  position: absolute;
  top: 342px;
  width: 82px;
}

.zahlungsoptionen-376 .downloadpdf-ZyLv3S {
  -webkit-text-stroke: 0.05000000074505806px var(--navy-blue);
  background-color: transparent;
  display: block;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 25px;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: -7px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.zahlungsoptionen-376 .downloadpdf-ZyLv3S.bp1-animate-enter280 {
  animation: bp1-animate-enter280-frames 0.20s ease 0.10s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter280-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}
