---
pagination:
  data: items
  size: 1
permalink: "produktansicht{{ pagination.pageNumber + 1 }}/index.html"
---
<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" href="./img/favicon.png" />
    <title>Borbus Shop</title>
    <meta
      name="description"
      content="Eine von Kinderlachen inspirierte Kollektion, die die Unbeschwertheit des Lebens verkörpert."
    />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Borbus Shop" />
    <meta name="og:title" content="Borbus Shop" />
    <meta
      name="og:description"
      content="Eine von Kinderlachen inspirierte Kollektion, die die Unbeschwertheit des Lebens verkörpert."
    />
    <meta name="og:image" content="./img/bildschirmfoto-2022-03-10-um-12-13-54.png" />
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content="Borbus Shop" />
    <meta
      name="twitter:description"
      content="Eine von Kinderlachen inspirierte Kollektion, die die Unbeschwertheit des Lebens verkörpert."
    />
    <meta name="twitter:image:width" content="320px" />
    <meta name="twitter:image:height" content="320px" />
    <meta name="twitter:image:src" content="./img/bildschirmfoto-2022-03-10-um-12-13-54.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="Borbus Shop" />
    <link rel="stylesheet" type="text/css" href="css/produktansicht.css" />
    <style></style>
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="produktansicht" />
    <div class="produktansicht screen">
      <div class="rckseitebild-EOXKB0"></div>
      <div class="vorderseitebild-EOXKB0"></div>
      <div class="rechteck-136-EOXKB0 bp4-animate-enter77" show-on-scroll></div>
      <div class="ellipse-33-EOXKB0 border-0-7px-white bp4-animate-enter78" show-on-scroll></div>
      <img class="linie-37-EOXKB0 bp4-animate-enter79" show-on-scroll src="img/linie-32-1@1x.png" />
      <img class="linie-36-EOXKB0 bp4-animate-enter80" show-on-scroll src="img/linie-33-1@1x.png" />
      <div class="gruppe-475-EOXKB0">
        <div class="ellipse-32-6LkQjv border-0-7px-white bp4-animate-enter81" show-on-scroll></div>
        <img class="linie-32-6LkQjv bp4-animate-enter82" show-on-scroll src="img/linie-32-1@1x.png" />
        <img class="linie-33-6LkQjv bp4-animate-enter83" show-on-scroll src="img/linie-33-1@1x.png" />
        <div class="gruppe-474-6LkQjv">
          <div class="bezeichnung-vTIerX hiraginominchopron-w3-normal-black-20px bp4-animate-enter84" show-on-scroll>
            Kleidchen #1
          </div>
          <div
            class="x6-monate-3-jahre-vTIerX hiraginominchopron-w3-normal-black-18px bp4-animate-enter85"
            show-on-scroll
          >
            6 Monate - 3 Jahre
          </div>
          <div class="stckpreis-vTIerX hiraginominchopron-w3-normal-black-19px bp4-animate-enter86" show-on-scroll>
            27,50 €
          </div>
          <img class="linie-31-vTIerX bp4-animate-enter87" show-on-scroll src="img/linie-31-1@1x.png" />
          <div class="warenkorb-button-mitte-vTIerX smart-layers-pointers bp4-animate-enter88" show-on-scroll>
            <div class="rechteck-114-wQOrE5 border-1-7px-stratos"></div>
            <div class="in-den-warenkorb-wQOrE5 hiraginominchopron-w3-normal-white-16px">In den Warenkorb</div>
          </div>
        </div>
        <div class="vorderseitewort-6LkQjv hiraginominchopron-w3-normal-black-16px bp4-animate-enter89" show-on-scroll>
          Vorderseite
        </div>
        <div class="rckseitewort-6LkQjv hiraginominchopron-w3-normal-black-16px bp4-animate-enter90" show-on-scroll>
          Rückseite
        </div>
      </div>
      <a href="https://borbus-shop.com/groessentabelle">
        <div class="gruppe-203-EOXKB0 smart-layers-pointers bp4-animate-enter91" show-on-scroll>
          <div class="rechteck-114-WafZec border-1-7px-stratos"></div>
          <div class="grenberatung-WafZec hiraginominchopron-w3-normal-stratos-13-5px">Größenberatung</div>
        </div></a
      >
      <div class="gruppe-484-EOXKB0">
        <div class="gruppe-476-81bIoF">
          <div class="rechteck-137-ZFbhr1 bp4-animate-enter92" show-on-scroll></div>
          <div class="gruppe-189-ZFbhr1 bp4-animate-enter93" show-on-scroll>
            <div class="rechteck-117-cAOilR"></div>
            <div class="b-cAOilR hiraginominchopron-w6-normal-white-24px">B</div>
            <div class="b-W6hzoS hiraginominchopron-w6-normal-white-24px">B</div>
          </div>
          <div
            class="produktinformationen-ZFbhr1 hiraginominchopron-w3-normal-black-20px bp4-animate-enter94"
            show-on-scroll
          >
            Produktinformationen
          </div>
          <div class="infotext-ZFbhr1 hiraginominchopron-w3-normal-black-15px bp4-animate-enter95" show-on-scroll>
            Kleidchen #1 <br />Das rot-weiße Muster verleiht dem Stück Lebensfreude. <br />Das Kleidchen ist mit einer
            kleinen weißen Ente <br />geschmückt. Das Borbus Etikett bestätigt die Echtheit <br />und Einzigartigkeit.
            <br />
          </div>
          <div
            class="vertrglichkeitwort-ZFbhr1 hiraginominchopron-w3-normal-black-16px bp4-animate-enter96"
            show-on-scroll
          >
            Verträglichkeit: <br />
          </div>
          <div class="grewort-ZFbhr1 hiraginominchopron-w3-normal-black-16px bp4-animate-enter97" show-on-scroll>
            Größe:
          </div>
          <div class="stoffwort-ZFbhr1 hiraginominchopron-w3-normal-black-16px bp4-animate-enter98" show-on-scroll>
            Stoff:
          </div>
          <div class="musterwort-ZFbhr1 hiraginominchopron-w3-normal-black-16px bp4-animate-enter99" show-on-scroll>
            Muster:
          </div>
          <div
            class="vertraeglichkeit1-ZFbhr1 hiraginominchopron-w3-normal-black-15px bp4-animate-enter100"
            show-on-scroll
          >
            Atmungsaktiv &amp; Hautfreundlich
          </div>
          <div class="groesse1-ZFbhr1 hiraginominchopron-w3-normal-black-15px bp4-animate-enter101" show-on-scroll>
            98
          </div>
          <div class="stoff1-ZFbhr1 hiraginominchopron-w3-normal-black-15px bp4-animate-enter102" show-on-scroll>
            Baumwolle
          </div>
          <div class="muster1-ZFbhr1 hiraginominchopron-w3-normal-black-15px bp4-animate-enter103" show-on-scroll>
            gestreift
          </div>
          <div class="ellipse-34-ZFbhr1 border-1px-black bp4-animate-enter104" show-on-scroll></div>
          <div class="ellipse-35-ZFbhr1 border-1px-black bp4-animate-enter105" show-on-scroll></div>
          <div class="ellipse-36-ZFbhr1 border-1px-black bp4-animate-enter106" show-on-scroll></div>
          <div class="ellipse-37-ZFbhr1 border-1px-black bp4-animate-enter107" show-on-scroll></div>
        </div>
        <div class="gruppe-477-81bIoF">
          <div
            class="versand-und-rckgabeinformation-T4hrAx hiraginominchopron-w3-normal-black-20px bp4-animate-enter108"
            show-on-scroll
          >
            Versand und Rückgabeinformation
          </div>
          <div
            class="zahlungsoptionen-T4hrAx hiraginominchopron-w3-normal-black-20px bp4-animate-enter109"
            show-on-scroll
          >
            Zahlungsoptionen
          </div>
          <img class="linie-38-T4hrAx bp4-animate-enter110" show-on-scroll src="img/linie-38-1@1x.png" />
          <img class="linie-40-T4hrAx bp4-animate-enter111" show-on-scroll src="img/linie-38-1@1x.png" />
          <img class="linie-39-T4hrAx bp4-animate-enter112" show-on-scroll src="img/linie-38-1@1x.png" />
          <div
            class="bei-jeder-bestellung-T4hrAx hiraginominchopron-w3-normal-black-15px bp4-animate-enter113"
            show-on-scroll
          >
            Bei jeder Bestellung wird geprüft, ob das Kleidchen noch verfügbar ist. Nach Erhalt der Versandbestätigung
            erfolgt die Zustellung in 5-7 Werktagen. Der Versand ist kostenlos. <br />Rücksendungen sind ebenfalls
            kostenlos.
          </div>
          <div
            class="borbus-akzeptiert-fo-T4hrAx hiraginominchopron-w3-normal-black-15px bp4-animate-enter114"
            show-on-scroll
          >
            Borbus akzeptiert folgende Zahlungsoptionen:
          </div>
          <div class="gruppe-557-T4hrAx">
            <a href="https://hedera.com" target="_blank"
              ><div
                class="hedera-1uxOGG smart-layers-pointers hiraginominchopron-w3-normal-black-14px bp4-animate-enter115"
              >
                Hedera
              </div>
            </a>
            <div class="gruppe-556-1uxOGG">
              <div class="ellipse-46-DghRn2"></div>
              <img class="linie-49-DghRn2" src="img/linie-49-1@1x.png" />
              <img class="linie-51-DghRn2" src="img/linie-51-1@1x.png" />
              <img class="linie-52-DghRn2" src="img/linie-51-1@1x.png" />
              <img class="linie-50-DghRn2" src="img/linie-49-1@1x.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="x24-artikel-EOXKB0 hiraginomarugothicpron-w4-normal-black-16px">24 Artikel</div>
      <img class="linie-29-EOXKB0" src="img/linie-29-1@1x.png" />
      <div class="rechteck-118-EOXKB0"></div>
      <div class="stoffqualitt-EOXKB0 hiraginomarugothicpron-w4-normal-black-13px">Stoffqualität</div>
      <div class="handarbeit-EOXKB0 hiraginomarugothicpron-w4-normal-black-13px">Handarbeit</div>
      <div class="sichere-bezahlung-EOXKB0 hiraginomarugothicpron-w4-normal-black-13px">Sichere Bezahlung</div>
      <div class="gruppe-199-EOXKB0">
        <div class="rechteck-155-dsgZUi"></div>
        <img class="pfad-284-dsgZUi" src="img/pfad-284-1@1x.png" />
        <img class="pfad-285-dsgZUi" src="img/pfad-285-6@1x.png" />
      </div>
      <img class="rechteck-157-EOXKB0" src="img/rechteck-157-1@1x.png" />
      <div class="iconfinder_scissor_s-EOXKB0">
        <img class="pfad-273-pl4hie" src="img/pfad-273-1x-png@1x.png" />
        <img class="pfad-274-pl4hie" src="img/pfad-274-1@1x.png" />
        <img class="pfad-275-pl4hie" src="img/pfad-275-1@1x.png" />
        <img class="pfad-276-pl4hie" src="img/pfad-276-1@1x.png" />
      </div>
      <div class="iconfinder_4265038_b-EOXKB0">
        <div class="ellipse-41-aMAqRq"></div>
        <img class="pfad-286-aMAqRq" src="img/pfad-286@1x.png" />
      </div>
      <a href="https://borbus-shop.com/produktansichtdetail1"
        ><img
          class="icon-play-EOXKB0 smart-layers-pointers bp4-animate-enter116"
          show-on-scroll
          src="img/pfad-278-1@1x.png"
        /> </a
      ><a href="https://borbus-shop.com/"
        ><div class="home-EOXKB0 hiraginomarugothicpron-w4-normal-black-18px bp4-animate-enter117" show-on-scroll>
          Home
        </div> </a
      ><a href="https://borbus-shop.com/shop"
        ><div class="shop-EOXKB0 hiraginomarugothicpron-w4-normal-black-18px bp4-animate-enter118" show-on-scroll>
          Shop
        </div> </a
      ><a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-EOXKB0 bp4-animate-enter119" show-on-scroll>
          <div class="ber-borbus-kWmkQJ hiraginomarugothicpron-w4-normal-black-18px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/"
        ><div class="borbus-EOXKB0 hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="gruppe-163-EOXKB0 bp4-animate-enter120" show-on-scroll>
        <div class="rechteck-90-0o8mFP"></div>
        <div class="gruppe-364-0o8mFP">
          <div class="exklusive-serviceleistungen-E5kOcF hiraginomarugothicpron-w4-normal-swirl-24px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-E5kOcF">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-rckversand-frei-cxwLH1 hiraginomarugothicpron-w4-normal-swirl-15px">
                Versand &amp; Rückversand frei
              </div> </a
            ><img class="truck-cxwLH1" src="img/pfad-179-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-367-0o8mFP">
          <div class="knnen-wir-helfen-MVXUJT hiraginomarugothicpron-w4-normal-swirl-24px">Können wir helfen?</div>
          <div class="gruppe-365-MVXUJT">
            <a href="https://borbus-shop.com/kontakt">
              <div class="gruppe-140-86rHc1">
                <a href="https://borbus-shop.com/kontakt" onclick="window.event.stopPropagation()"
                  ><div class="kontakt-AjRy3k hiraginomarugothicpron-w4-normal-swirl-15px">Kontakt</div>
                </a>
              </div></a
            ><img class="contact-86rHc1" src="img/contact-10@1x.png" />
          </div>
          <div class="gruppe-366-MVXUJT">
            <a href="https://borbus-shop.com/zahlungsoptionen">
              <div class="gruppe-141-JK8Vyl">
                <div class="zahlungsoptionen-0SEfIu hiraginomarugothicpron-w4-normal-swirl-15px">Zahlungsoptionen</div>
              </div></a
            ><img class="money-JK8Vyl" src="img/money-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-372-0o8mFP">
          <div class="besuche-uns-9iH07n hiraginomarugothicpron-w4-normal-swirl-24px">Besuche Uns</div>
          <a href="https://www.instagram.com/borbus_shop/" target="_blank">
            <div class="gruppe-320-9iH07n">
              <div class="gruppe-162-QjAMlF">
                <a
                  href="https://www.instagram.com/borbus_shop/"
                  onclick="window.event.stopPropagation()"
                  target="_blank"
                  ><div class="instagram-rMBUZz hiraginomarugothicpron-w4-normal-swirl-15px">Instagram</div>
                </a>
              </div>
              <img class="icon-instagram-QjAMlF" src="img/instagram-sketched-10@1x.png" /></div
          ></a>
        </div>
      </div>
      <img class="ssl-EOXKB0 bp4-animate-enter121" show-on-scroll src="img/ssl-10@1x.png" />
      <div class="gruppe-554-EOXKB0">
        <div class="gruppe-371-g3F4St">
          <div class="das-unternehmen-gErNqV hiraginomarugothicpron-w4-normal-swirl-24px">Das Unternehmen</div>
          <div class="gruppe-370-gErNqV">
            <div class="gruppe-154-HRijxL">
              <div class="gruppe-159-P6uk4V">
                <div class="ellipse-25-ySBREx"></div>
                <div class="i-ySBREx hiraginomarugothicpron-w4-normal-black-12px">i</div>
              </div>
            </div>
          </div>
          <div class="gruppe-160-gErNqV">
            <a href="https://borbus-shop.com/ueberborbus">
              <div class="gruppe-155-BFVKdj">
                <div class="gruppe-138-DupgUt">
                  <div class="ber-borbus-Bwp4bL hiraginomarugothicpron-w4-normal-swirl-15px">Über Borbus</div>
                </div>
              </div></a
            >
            <div class="b-BFVKdj hiraginominchopron-w6-normal-white-20px">B</div>
          </div>
          <div class="gruppe-368-gErNqV">
            <div class="gruppe-156-XHjv6f">
              <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                ><div class="geschfts-und-nutzungs-bediengungen-nJ9xMS hiraginomarugothicpron-w4-normal-swirl-15px">
                  Geschäfts- und Nutzungs-<br />bediengungen
                </div>
              </a>
            </div>
            <img class="solid-XHjv6f" src="img/solid-18@1x.png" />
          </div>
          <div class="gruppe-369-gErNqV">
            <a href="https://borbus-shop.com/datenschutzerklaerung">
              <div class="gruppe-157-Bb2eta">
                <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                  ><div class="datenschutz-cookies-xrIoZw hiraginomarugothicpron-w4-normal-swirl-15px">
                    Datenschutz &amp; Cookies
                  </div>
                </a>
              </div></a
            ><img class="cookie-Bb2eta" src="img/cookie-10@1x.png" />
          </div>
        </div>
        <a href="https://borbus-shop.com/impressum"
          ><div class="impressum-g3F4St hiraginomarugothicpron-w4-normal-swirl-14px">Impressum</div>
        </a>
      </div>
      <div class="gruppe-622-EOXKB0">
        <div class="gruppe-141-F55K7I">
          <a href="https://borbus-shop.com/nftinfo"
            ><div class="nf-tlink-E7B9JE hiraginomarugothicpron-w4-normal-swirl-15px">NFT</div> </a
          ><img
            class="x498951_child_clothes-E7B9JE"
            src="img/498951-child-clothes-clothing-dress-fabric-icon-1@1x.png"
          />
        </div>
      </div>
      <div class="warenkorb-oben-rechts-EOXKB0">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-1mqQJq"
          src="img/iconfinder-basket-ecommerce-shop-4177565-2@1x.png"
        />
        <div class="gruppe-579-1mqQJq">
          <div class="ellipse-47-7mY6mI"></div>
          <div class="anzahl-warenkorb-7mY6mI hiraginominchopron-w3-normal-gallery-15px">1</div>
        </div>
      </div>
    </div>
    <div class="produktansicht-1200 screen">
      <div class="rechteck-136-uqEa1J bp3-animate-enter120" show-on-scroll></div>
      <div class="ellipse-32-uqEa1J border-0-7px-white bp3-animate-enter121" show-on-scroll></div>
      <div class="ellipse-33-uqEa1J border-0-7px-white bp3-animate-enter122" show-on-scroll></div>
      <img class="linie-32-uqEa1J bp3-animate-enter123" show-on-scroll src="img/linie-32-1@1x.png" />
      <img class="linie-37-uqEa1J bp3-animate-enter124" show-on-scroll src="img/linie-32-1@1x.png" />
      <img class="linie-33-uqEa1J bp3-animate-enter125" show-on-scroll src="img/linie-33@1x.png" />
      <img class="linie-36-uqEa1J bp3-animate-enter126" show-on-scroll src="img/linie-33@1x.png" />
      <div class="gruppe-482-uqEa1J">
        <div class="rechteck-137-FHGSfx bp3-animate-enter127" show-on-scroll></div>
        <div class="gruppe-189-FHGSfx bp3-animate-enter128" show-on-scroll>
          <div class="rechteck-117-14dnu1"></div>
          <div class="b-14dnu1 hiraginominchopron-w6-normal-white-24px">B</div>
          <div class="b-duozLV hiraginominchopron-w6-normal-white-24px">B</div>
        </div>
        <div
          class="produktinformationen-FHGSfx hiraginominchopron-w3-normal-black-20px bp3-animate-enter129"
          show-on-scroll
        >
          Produktinformationen
        </div>
        <div class="infotext-FHGSfx hiraginominchopron-w3-normal-black-15px bp3-animate-enter130" show-on-scroll>
          Kleidchen #1 <br />Das rot-weiße Muster verleiht dem Stück Lebensfreude. Das Kleidchen ist mit einer kleinen
          weißen Ente geschmückt. Das Borbus Etikett bestätigt die Echtheit und Einzigartigkeit. <br />
        </div>
        <div
          class="vertrglichkeitwort-FHGSfx hiraginominchopron-w3-normal-black-16px bp3-animate-enter131"
          show-on-scroll
        >
          Verträglichkeit: <br />
        </div>
        <div class="grewort-FHGSfx hiraginominchopron-w3-normal-black-16px bp3-animate-enter132" show-on-scroll>
          Größe:
        </div>
        <div class="stoffwort-FHGSfx hiraginominchopron-w3-normal-black-16px bp3-animate-enter133" show-on-scroll>
          Stoff:
        </div>
        <div class="musterwort-FHGSfx hiraginominchopron-w3-normal-black-16px bp3-animate-enter134" show-on-scroll>
          Muster:
        </div>
        <div
          class="vertraeglichkeit1-FHGSfx hiraginominchopron-w3-normal-black-15px bp3-animate-enter135"
          show-on-scroll
        >
          Atmungsaktiv &amp; Hautfreundlich
        </div>
        <div class="groesse1-FHGSfx hiraginominchopron-w3-normal-black-15px bp3-animate-enter136" show-on-scroll>
          98
        </div>
        <div class="stoff1-FHGSfx hiraginominchopron-w3-normal-black-15px bp3-animate-enter137" show-on-scroll>
          Baumwolle
        </div>
        <div class="muster1-FHGSfx hiraginominchopron-w3-normal-black-15px bp3-animate-enter138" show-on-scroll>
          gestreift
        </div>
        <div class="ellipse-34-FHGSfx border-1px-black bp3-animate-enter139" show-on-scroll></div>
        <div class="ellipse-35-FHGSfx border-1px-black bp3-animate-enter140" show-on-scroll></div>
        <div class="ellipse-36-FHGSfx border-1px-black bp3-animate-enter141" show-on-scroll></div>
        <div class="ellipse-37-FHGSfx border-1px-black bp3-animate-enter142" show-on-scroll></div>
      </div>
      <div class="gruppe-481-uqEa1J">
        <div class="gruppe-480-x4b2II">
          <div class="bezeichnung-oMnFRg hiraginominchopron-w3-normal-black-20px bp3-animate-enter143" show-on-scroll>
            Kleidchen #1
          </div>
          <div
            class="x6-monate-3-jahre-oMnFRg hiraginominchopron-w3-normal-black-18px bp3-animate-enter144"
            show-on-scroll
          >
            6 Monate - 3 Jahre
          </div>
          <div class="stckpreis-oMnFRg hiraginominchopron-w3-normal-black-19px bp3-animate-enter145" show-on-scroll>
            27,50 €
          </div>
          <img class="linie-31-oMnFRg bp3-animate-enter146" show-on-scroll src="img/linie-31-1-1x-png@1x.png" />
          <div class="warenkorb-button-mitte-oMnFRg smart-layers-pointers bp3-animate-enter147" show-on-scroll>
            <div class="rechteck-114-UpWstg border-1-7px-stratos"></div>
            <div class="in-den-warenkorb-UpWstg hiraginominchopron-w3-normal-white-16px">In den Warenkorb</div>
          </div>
        </div>
      </div>
      <a href="https://borbus-shop.com/groessentabelle">
        <div class="gruppe-203-uqEa1J smart-layers-pointers bp3-animate-enter148" show-on-scroll>
          <div class="rechteck-114-nxSj2A border-1-7px-stratos"></div>
          <div class="grenberatung-nxSj2A hiraginominchopron-w3-normal-stratos-13-5px">Größenberatung</div>
        </div></a
      >
      <div class="gruppe-483-uqEa1J">
        <div
          class="versand-und-rckgabeinformation-kSIrXv hiraginominchopron-w3-normal-black-20px bp3-animate-enter149"
          show-on-scroll
        >
          Versand und Rückgabeinformation
        </div>
        <div
          class="zahlungsoptionen-kSIrXv hiraginominchopron-w3-normal-black-20px bp3-animate-enter150"
          show-on-scroll
        >
          Zahlungsoptionen
        </div>
        <div
          class="bei-jeder-bestellung-kSIrXv hiraginominchopron-w3-normal-black-15px bp3-animate-enter151"
          show-on-scroll
        >
          Bei jeder Bestellung wird geprüft, ob das Kleidchen noch verfügbar ist. Nach Erhalt der Versandbestätigung
          erfolgt die Zustellung in 5-7 Werktagen. Der Versand ist kostenlos. <br />Rücksendungen sind ebenfalls
          kostenlos.
        </div>
        <div
          class="borbus-akzeptiert-fo-kSIrXv hiraginominchopron-w3-normal-black-15px bp3-animate-enter152"
          show-on-scroll
        >
          Borbus akzeptiert folgende Zahlungsoptionen:
        </div>
        <img class="linie-39-kSIrXv bp3-animate-enter153" show-on-scroll src="img/linie-39@1x.png" />
        <img class="linie-47-kSIrXv bp3-animate-enter154" show-on-scroll src="img/linie-39@1x.png" />
        <div class="gruppe-557-kSIrXv">
          <a href="https://hedera.com" target="_blank"
            ><div
              class="hedera-peWeEz smart-layers-pointers hiraginominchopron-w3-normal-black-14px bp3-animate-enter155"
            >
              Hedera
            </div>
          </a>
          <div class="gruppe-556-peWeEz">
            <div class="ellipse-46-Byye86"></div>
            <img class="linie-49-Byye86" src="img/linie-49-1@1x.png" />
            <img class="linie-51-Byye86" src="img/linie-51-1@1x.png" />
            <img class="linie-52-Byye86" src="img/linie-51-1@1x.png" />
            <img class="linie-50-Byye86" src="img/linie-49-1@1x.png" />
          </div>
        </div>
      </div>
      <div class="x24-artikel-uqEa1J hiraginomarugothicpron-w4-normal-black-16px">24 Artikel</div>
      <img class="linie-29-uqEa1J" src="img/linie-29@1x.png" />
      <div class="rechteck-118-uqEa1J"></div>
      <div class="stoffqualitt-uqEa1J hiraginomarugothicpron-w4-normal-black-13px">Stoffqualität</div>
      <div class="handarbeit-uqEa1J hiraginomarugothicpron-w4-normal-black-13px">Handarbeit</div>
      <div class="sichere-bezahlung-uqEa1J hiraginomarugothicpron-w4-normal-black-13px">Sichere Bezahlung</div>
      <div class="gruppe-199-uqEa1J">
        <div class="rechteck-155-a5hFu7"></div>
        <img class="pfad-284-a5hFu7" src="img/pfad-284-1@1x.png" />
        <img class="pfad-285-a5hFu7" src="img/pfad-285@1x.png" />
      </div>
      <img class="rechteck-157-uqEa1J" src="img/rechteck-157-1@1x.png" />
      <div class="iconfinder_4265038_b-uqEa1J">
        <div class="ellipse-41-gGVx2o"></div>
        <img class="pfad-286-gGVx2o" src="img/pfad-286@1x.png" />
      </div>
      <div class="iconfinder_scissor_s-uqEa1J">
        <img class="pfad-273-vlz3L4" src="img/pfad-273@1x.png" />
        <img class="pfad-274-vlz3L4" src="img/pfad-274@1x.png" />
        <img class="pfad-275-vlz3L4" src="img/pfad-275@1x.png" />
        <img class="pfad-276-vlz3L4" src="img/pfad-273@1x.png" />
      </div>
      <a href="https://borbus-shop.com/"
        ><div class="home-uqEa1J hiraginomarugothicpron-w4-normal-black-18px bp3-animate-enter156" show-on-scroll>
          Home
        </div> </a
      ><a href="https://borbus-shop.com/shop"
        ><div class="shop-uqEa1J hiraginomarugothicpron-w4-normal-black-18px bp3-animate-enter157" show-on-scroll>
          Shop
        </div> </a
      ><a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-uqEa1J bp3-animate-enter158" show-on-scroll>
          <div class="ber-borbus-7nsLtp hiraginomarugothicpron-w4-normal-black-18px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/"
        ><div class="borbus-uqEa1J hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="gruppe-561-uqEa1J">
        <div class="rckseitewort-q5HsVH hiraginominchopron-w3-normal-black-16px bp3-animate-enter159" show-on-scroll>
          Rückseite
        </div>
        <div class="rckseitebild-q5HsVH"></div>
      </div>
      <div class="gruppe-562-uqEa1J">
        <div class="vorderseitewort-aNzxJn hiraginominchopron-w3-normal-black-16px bp3-animate-enter160" show-on-scroll>
          Vorderseite
        </div>
        <div class="vorderseitebild-aNzxJn"></div>
      </div>
      <a href="https://borbus-shop.com/produktansichtdetail1"
        ><img
          class="icon-play-uqEa1J smart-layers-pointers bp3-animate-enter161"
          show-on-scroll
          src="img/pfad-278-1@1x.png"
        />
      </a>
      <div class="gruppe-322-uqEa1J">
        <div class="gruppe-163-GWqFkn bp3-animate-enter162">
          <div class="rechteck-90-lwCwMC"></div>
          <div class="exklusive-serviceleistungen-lwCwMC hiraginomarugothicpron-w4-normal-swirl-22px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-lwCwMC">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-frei-Imo2bA hiraginomarugothicpron-w4-normal-swirl-14px">Versand frei</div> </a
            ><img class="truck-Imo2bA" src="img/pfad-179-10@1x.png" />
          </div>
          <div class="gruppe-341-lwCwMC">
            <div class="knnen-wir-helfen-0K0GxB hiraginomarugothicpron-w4-normal-swirl-22px">Können wir helfen?</div>
            <div class="gruppe-339-0K0GxB">
              <a href="https://borbus-shop.com/kontakt">
                <div class="gruppe-140-B8dh8j">
                  <a href="https://borbus-shop.com/kontakt" onclick="window.event.stopPropagation()"
                    ><div class="kontakt-sqlJ31 hiraginomarugothicpron-w4-normal-swirl-14px">Kontakt</div>
                  </a>
                </div></a
              ><img class="contact-B8dh8j" src="img/contact@1x.png" />
            </div>
            <div class="gruppe-340-0K0GxB">
              <a href="https://borbus-shop.com/zahlungsoptionen">
                <div class="gruppe-141-IyW0Jf">
                  <div class="zahlungsoptionen-0DPSH4 hiraginomarugothicpron-w4-normal-swirl-14px">
                    Zahlungsoptionen
                  </div>
                </div></a
              ><img class="money-IyW0Jf" src="img/money@1x.png" />
            </div>
            <div class="gruppe-623-0K0GxB">
              <div class="gruppe-141-rdzORn">
                <a href="https://borbus-shop.com/nftinfo"
                  ><div class="nft-LZCU36 hiraginomarugothicpron-w4-normal-swirl-14px">NFT</div>
                </a>
                <div class="gruppe-622-LZCU36">
                  <div class="gruppe-141-x92Vwp">
                    <img
                      class="x498951_child_clothes-h2XlTU"
                      src="img/498951-child-clothes-clothing-dress-fabric-icon-1@1x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="gruppe-345-lwCwMC">
            <div class="das-unternehmen-h63UAA hiraginomarugothicpron-w4-normal-swirl-22px">Das Unternehmen</div>
            <div class="gruppe-344-h63UAA">
              <a href="https://borbus-shop.com/impressum">
                <div class="gruppe-158-5ILLMr">
                  <a href="https://borbus-shop.com/impressum" onclick="window.event.stopPropagation()"
                    ><div class="impressum-tQxXMR hiraginomarugothicpron-w4-normal-swirl-15px">Impressum</div>
                  </a>
                </div></a
              >
              <div class="gruppe-154-5ILLMr">
                <div class="gruppe-159-1pnlwk">
                  <div class="ellipse-25-dFyALG"></div>
                  <div class="i-dFyALG hiraginomarugothicpron-w4-normal-black-12px">i</div>
                </div>
              </div>
            </div>
            <div class="gruppe-160-h63UAA">
              <a href="https://borbus-shop.com/ueberborbus">
                <div class="gruppe-155-esSDFx">
                  <div class="gruppe-138-oOpWum">
                    <a href="https://borbus-shop.com/ueberborbus" onclick="window.event.stopPropagation()"
                      ><div class="ber-borbus-NwOXKx hiraginomarugothicpron-w4-normal-swirl-15px">Über Borbus</div>
                    </a>
                  </div>
                </div></a
              >
              <div class="b-esSDFx hiraginominchopron-w6-normal-white-20px">B</div>
            </div>
            <div class="gruppe-342-h63UAA">
              <div class="gruppe-156-6xkzFg">
                <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                  ><div class="geschfts-und-nutzungsbediengungen-S2oIQ1 hiraginomarugothicpron-w4-normal-swirl-15px">
                    Geschäfts- und <br />Nutzungsbediengungen
                  </div>
                </a>
              </div>
              <img class="solid-6xkzFg" src="img/solid-1@1x.png" />
            </div>
            <div class="gruppe-343-h63UAA">
              <a href="https://borbus-shop.com/datenschutzerklaerung">
                <div class="gruppe-157-pqdJ4R">
                  <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                    ><div class="datenschutz-cookies-zalhxC hiraginomarugothicpron-w4-normal-swirl-15px">
                      Datenschutz &amp; Cookies
                    </div>
                  </a>
                </div></a
              ><img class="cookie-pqdJ4R" src="img/cookie-10@1x.png" />
            </div>
          </div>
          <div class="gruppe-346-lwCwMC">
            <div class="besuche-uns-qXJjaI hiraginomarugothicpron-w4-normal-swirl-22px">Besuche Uns</div>
            <a href="https://www.instagram.com/borbus_shop/" target="_blank">
              <div class="gruppe-321-qXJjaI">
                <div class="gruppe-162-02rnFD">
                  <div class="instagram-BXvrut hiraginomarugothicpron-w4-normal-swirl-15px">Instagram</div>
                </div>
                <img class="icon-instagram-02rnFD" src="img/instagram-sketched-10@1x.png" /></div
            ></a>
          </div>
        </div>
        <img class="ssl-GWqFkn bp3-animate-enter163" src="img/ssl-10@1x.png" />
      </div>
      <div class="warenkorb-oben-rechts-uqEa1J">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-XCH4ZQ"
          src="img/iconfinder-basket-ecommerce-shop-4177565-2@1x.png"
        />
        <div class="gruppe-579-XCH4ZQ">
          <div class="ellipse-47-jMxZZ4"></div>
          <div class="anzahl-warenkorb-jMxZZ4 hiraginominchopron-w3-normal-gallery-15px">1</div>
        </div>
      </div>
    </div>
    <div class="produktansicht-767 screen">
      <div class="rechteck-136-EHMNUx bp2-animate-enter119" show-on-scroll></div>
      <div class="ellipse-32-EHMNUx border-0-7px-white bp2-animate-enter120" show-on-scroll></div>
      <div class="ellipse-33-EHMNUx border-0-7px-white bp2-animate-enter121" show-on-scroll></div>
      <img class="linie-32-EHMNUx bp2-animate-enter122" show-on-scroll src="img/linie-32-1@1x.png" />
      <img class="linie-37-EHMNUx bp2-animate-enter123" show-on-scroll src="img/linie-32-1@1x.png" />
      <img class="linie-33-EHMNUx bp2-animate-enter124" show-on-scroll src="img/linie-33-1@1x.png" />
      <img class="linie-36-EHMNUx bp2-animate-enter125" show-on-scroll src="img/linie-33-1@1x.png" />
      <div class="gruppe-489-EHMNUx">
        <div class="rechteck-137-APMeAU bp2-animate-enter126" show-on-scroll></div>
        <div class="gruppe-189-APMeAU bp2-animate-enter127" show-on-scroll>
          <div class="rechteck-117-Kx3e8S"></div>
          <div class="b-Kx3e8S hiraginominchopron-w6-normal-white-24px">B</div>
          <div class="b-2DdLwH hiraginominchopron-w6-normal-white-24px">B</div>
        </div>
        <div
          class="produktinformationen-APMeAU hiraginominchopron-w3-normal-black-20px bp2-animate-enter128"
          show-on-scroll
        >
          Produktinformationen
        </div>
        <div class="infotext-APMeAU hiraginominchopron-w3-normal-black-15px bp2-animate-enter129" show-on-scroll>
          Kleidchen #1 <br />Das rot-weiße Muster verleiht dem Stück Lebensfreude. Das Kleidchen ist mit einer kleinen
          weißen Ente geschmückt. Das Borbus Etikett bestätigt die Echtheit und Einzigartigkeit. <br />
        </div>
        <div
          class="vertrglichkeitwort-APMeAU hiraginominchopron-w3-normal-black-16px bp2-animate-enter130"
          show-on-scroll
        >
          Verträglichkeit: <br />
        </div>
        <div class="grewort-APMeAU hiraginominchopron-w3-normal-black-16px bp2-animate-enter131" show-on-scroll>
          Größe:
        </div>
        <div class="stoffwort-APMeAU hiraginominchopron-w3-normal-black-16px bp2-animate-enter132" show-on-scroll>
          Stoff:
        </div>
        <div class="musterwort-APMeAU hiraginominchopron-w3-normal-black-16px bp2-animate-enter133" show-on-scroll>
          Muster:
        </div>
        <div
          class="vertraeglichkeit1-APMeAU hiraginominchopron-w3-normal-black-15px bp2-animate-enter134"
          show-on-scroll
        >
          Atmungsaktiv &amp; Hautfreundlich
        </div>
        <div class="groesse1-APMeAU hiraginominchopron-w3-normal-black-15px bp2-animate-enter135" show-on-scroll>
          98
        </div>
        <div class="stoff1-APMeAU hiraginominchopron-w3-normal-black-15px bp2-animate-enter136" show-on-scroll>
          Baumwolle
        </div>
        <div class="muster1-APMeAU hiraginominchopron-w3-normal-black-15px bp2-animate-enter137" show-on-scroll>
          gestreift
        </div>
        <div class="ellipse-34-APMeAU border-1px-black bp2-animate-enter138" show-on-scroll></div>
        <div class="ellipse-35-APMeAU border-1px-black bp2-animate-enter139" show-on-scroll></div>
        <div class="ellipse-36-APMeAU border-1px-black bp2-animate-enter140" show-on-scroll></div>
        <div class="ellipse-37-APMeAU border-1px-black bp2-animate-enter141" show-on-scroll></div>
      </div>
      <div class="gruppe-490-EHMNUx">
        <div
          class="versand-und-rckgabeinformation-bbn0o1 hiraginominchopron-w3-normal-black-20px bp2-animate-enter142"
          show-on-scroll
        >
          Versand und Rückgabeinformation
        </div>
        <div
          class="zahlungsoptionen-bbn0o1 hiraginominchopron-w3-normal-black-20px bp2-animate-enter143"
          show-on-scroll
        >
          Zahlungsoptionen
        </div>
        <div
          class="bei-jeder-bestellung-bbn0o1 hiraginominchopron-w3-normal-black-15px bp2-animate-enter144"
          show-on-scroll
        >
          Bei jeder Bestellung wird geprüft, ob das Kleidchen noch verfügbar ist. Nach Erhalt der Versandbestätigung
          erfolgt die Zustellung in 5-7 Werktagen. Der Versand ist kostenlos. <br />Rücksendungen sind ebenfalls
          kostenlos.
        </div>
        <div
          class="borbus-akzeptiert-fo-bbn0o1 hiraginominchopron-w3-normal-black-15px bp2-animate-enter145"
          show-on-scroll
        >
          Borbus akzeptiert folgende Zahlungsoptionen:
        </div>
        <img class="linie-39-bbn0o1 bp2-animate-enter146" show-on-scroll src="img/linie-39@1x.png" />
        <img class="linie-47-bbn0o1 bp2-animate-enter147" show-on-scroll src="img/linie-47@1x.png" />
        <div class="gruppe-557-bbn0o1">
          <a href="https://hedera.com" target="_blank"
            ><div
              class="hedera-gYzMxF smart-layers-pointers hiraginominchopron-w3-normal-black-14px bp2-animate-enter148"
            >
              Hedera
            </div>
          </a>
          <div class="gruppe-556-gYzMxF">
            <div class="ellipse-46-dIpNaN"></div>
            <img class="linie-49-dIpNaN" src="img/linie-49-1@1x.png" />
            <img class="linie-51-dIpNaN" src="img/linie-51-1@1x.png" />
            <img class="linie-52-dIpNaN" src="img/linie-51-1@1x.png" />
            <img class="linie-50-dIpNaN" src="img/linie-49-1@1x.png" />
          </div>
        </div>
      </div>
      <div class="x24-artikel-EHMNUx hiraginomarugothicpron-w4-normal-black-16px">24 Artikel</div>
      <img class="linie-29-EHMNUx" src="img/linie-29@1x.png" />
      <div class="rechteck-118-EHMNUx"></div>
      <div class="stoffqualitt-EHMNUx hiraginomarugothicpron-w4-normal-black-13px">Stoffqualität</div>
      <div class="handarbeit-EHMNUx hiraginomarugothicpron-w4-normal-black-13px">Handarbeit</div>
      <div class="sichere-bezahlung-EHMNUx hiraginomarugothicpron-w4-normal-black-13px">Sichere Bezahlung</div>
      <div class="gruppe-199-EHMNUx">
        <div class="rechteck-155-nDRtIt"></div>
        <img class="pfad-284-nDRtIt" src="img/pfad-284-1@1x.png" />
        <img class="pfad-285-nDRtIt" src="img/pfad-285-6@1x.png" />
      </div>
      <img class="rechteck-157-EHMNUx" src="img/rechteck-157-1@1x.png" />
      <div class="iconfinder_4265038_b-EHMNUx">
        <div class="ellipse-41-UxtxV3"></div>
        <img class="pfad-286-UxtxV3" src="img/pfad-286-1@1x.png" />
      </div>
      <div class="iconfinder_scissor_s-EHMNUx">
        <img class="pfad-273-7obq83" src="img/pfad-273@1x.png" />
        <img class="pfad-274-7obq83" src="img/pfad-274@1x.png" />
        <img class="pfad-275-7obq83" src="img/pfad-275@1x.png" />
        <img class="pfad-276-7obq83" src="img/pfad-273@1x.png" />
      </div>
      <div class="gruppe-564-EHMNUx">
        <div class="rckseitebild-TA9Cqk"></div>
        <div class="rckseitewort-TA9Cqk hiraginominchopron-w3-normal-black-12px bp2-animate-enter149" show-on-scroll>
          Rückseite
        </div>
      </div>
      <div class="gruppe-563-EHMNUx">
        <div class="vorderseitebild-m5zj7t"></div>
        <div class="vorderseitewort-m5zj7t hiraginominchopron-w3-normal-black-12px bp2-animate-enter150" show-on-scroll>
          Vorderseite
        </div>
      </div>
      <div class="gruppe-488-EHMNUx">
        <div class="gruppe-487-yOFSwn">
          <div
            class="x6-monate-3-jahre-2KPmRh hiraginominchopron-w3-normal-black-18px bp2-animate-enter151"
            show-on-scroll
          >
            6 Monate - 3 Jahre
          </div>
          <div class="stckpreis-2KPmRh hiraginominchopron-w3-normal-black-19px bp2-animate-enter152" show-on-scroll>
            27,50 €
          </div>
          <div class="warenkorb-button-mitte-2KPmRh smart-layers-pointers bp2-animate-enter153" show-on-scroll>
            <div class="rechteck-114-N0ssWN border-1-7px-stratos"></div>
            <div class="in-den-warenkorb-N0ssWN hiraginominchopron-w3-normal-white-16px">In den Warenkorb</div>
          </div>
          <div class="bezeichnung-2KPmRh hiraginominchopron-w3-normal-black-20px bp2-animate-enter154" show-on-scroll>
            Kleidchen #1
          </div>
          <img class="linie-31-2KPmRh bp2-animate-enter155" show-on-scroll src="img/linie-31@1x.png" />
        </div>
      </div>
      <a href="https://borbus-shop.com/produktansichtdetail1"
        ><img
          class="icon-play-EHMNUx smart-layers-pointers bp2-animate-enter156"
          show-on-scroll
          src="img/pfad-278-1@1x.png"
        /> </a
      ><a href="https://borbus-shop.com/"
        ><div class="home-EHMNUx hiraginomarugothicpron-w4-normal-black-18px bp2-animate-enter157" show-on-scroll>
          Home
        </div> </a
      ><a href="https://borbus-shop.com/shop"
        ><div class="shop-EHMNUx hiraginomarugothicpron-w4-normal-black-18px bp2-animate-enter158" show-on-scroll>
          Shop
        </div> </a
      ><a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-EHMNUx bp2-animate-enter159" show-on-scroll>
          <div class="ber-borbus-7RktkF hiraginomarugothicpron-w4-normal-black-18px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/groessentabelle">
        <div class="gruppe-203-EHMNUx smart-layers-pointers bp2-animate-enter160" show-on-scroll>
          <div class="rechteck-114-8i5sXD border-1-7px-stratos"></div>
          <div class="grenberatung-8i5sXD hiraginominchopron-w3-normal-stratos-13-5px">Größenberatung</div>
        </div></a
      ><a href="https://borbus-shop.com/"
        ><div class="borbus-EHMNUx hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="gruppe-163-EHMNUx bp2-animate-enter161">
        <div class="rechteck-90-Jb0eNO"></div>
        <div class="gruppe-347-Jb0eNO">
          <div class="exklusive-serviceleistungen-znoo41 hiraginomarugothicpron-w4-normal-swirl-16px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-znoo41">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-frei-3xoAMg hiraginomarugothicpron-w4-normal-swirl-14px">Versand frei</div> </a
            ><img class="truck-3xoAMg" src="img/pfad-179-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-350-Jb0eNO">
          <div class="knnen-wir-helfen-eQhXyp hiraginomarugothicpron-w4-normal-swirl-16px">Können wir helfen?</div>
          <div class="gruppe-348-eQhXyp">
            <div class="gruppe-140-tqJzHy">
              <a href="https://borbus-shop.com/kontakt"
                ><div class="kontakt-YJXOWa hiraginomarugothicpron-w4-normal-swirl-14px">Kontakt</div>
              </a>
            </div>
            <img class="contact-tqJzHy" src="img/contact@1x.png" />
          </div>
          <div class="gruppe-349-eQhXyp">
            <a href="https://borbus-shop.com/zahlungsoptionen">
              <div class="gruppe-141-JoWeEI">
                <div class="zahlungsoptionen-UGbbou hiraginomarugothicpron-w4-normal-swirl-14px">Zahlungsoptionen</div>
              </div></a
            ><img class="money-JoWeEI" src="img/money-10@1x.png" />
          </div>
          <div class="gruppe-623-eQhXyp">
            <div class="gruppe-141-pxTFKF">
              <a href="https://borbus-shop.com/nftinfo"
                ><div class="nft-zD10DS hiraginomarugothicpron-w4-normal-swirl-14px">NFT</div>
              </a>
              <div class="gruppe-622-zD10DS">
                <div class="gruppe-141-tv3Mbt">
                  <img
                    class="x498951_child_clothes-Zt3ZDG"
                    src="img/498951-child-clothes-clothing-dress-fabric-icon-1x-png@1x.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gruppe-354-Jb0eNO">
          <div class="das-unternehmen-Zwi58Z hiraginomarugothicpron-w4-normal-swirl-16px">Das Unternehmen</div>
          <div class="gruppe-353-Zwi58Z">
            <a href="https://borbus-shop.com/impressum">
              <div class="gruppe-158-me6jbn">
                <a href="https://borbus-shop.com/impressum" onclick="window.event.stopPropagation()"
                  ><div class="impressum-xF8YVk hiraginomarugothicpron-w4-normal-swirl-15px">Impressum</div>
                </a>
              </div></a
            >
            <div class="gruppe-154-me6jbn">
              <div class="gruppe-159-5OCdWr">
                <div class="ellipse-25-tMfLrj"></div>
                <div class="i-tMfLrj hiraginomarugothicpron-w4-normal-black-12px">i</div>
              </div>
            </div>
          </div>
          <div class="gruppe-160-Zwi58Z">
            <div class="gruppe-155-Bqvxjv">
              <div class="gruppe-138-r1Jwre">
                <a href="https://borbus-shop.com/ueberborbus"
                  ><div class="ber-borbus-QNSFRB hiraginomarugothicpron-w4-normal-swirl-15px">Über Borbus</div>
                </a>
              </div>
            </div>
            <div class="b-Bqvxjv hiraginominchopron-w6-normal-white-20px">B</div>
          </div>
          <div class="gruppe-351-Zwi58Z">
            <div class="gruppe-156-KoYckx">
              <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                ><div class="geschfts-und-nutzungsbediengungen-8xpzyR hiraginomarugothicpron-w4-normal-swirl-15px">
                  Geschäfts- und <br />Nutzungsbediengungen
                </div>
              </a>
            </div>
            <img class="solid-KoYckx" src="img/solid-1@1x.png" />
          </div>
          <div class="gruppe-352-Zwi58Z">
            <a href="https://borbus-shop.com/datenschutzerklaerung">
              <div class="gruppe-157-9MiIfQ">
                <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                  ><div class="datenschutz-cookies-Y9V6G8 hiraginomarugothicpron-w4-normal-swirl-15px">
                    Datenschutz &amp; Cookies
                  </div>
                </a>
              </div></a
            ><img class="cookie-9MiIfQ" src="img/cookie-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-355-Jb0eNO">
          <div class="besuche-uns-UjGqic hiraginomarugothicpron-w4-normal-swirl-16px">Besuche Uns</div>
          <a href="https://www.instagram.com/borbus_shop/">
            <div class="gruppe-323-UjGqic">
              <div class="gruppe-162-CpKmAK">
                <div class="instagram-c6jm4n hiraginomarugothicpron-w4-normal-swirl-15px">Instagram</div>
              </div>
              <img class="icon-instagram-CpKmAK" src="img/instagram-sketched-1@1x.png" /></div
          ></a>
        </div>
      </div>
      <img class="ssl-EHMNUx bp2-animate-enter162" src="img/ssl-10@1x.png" />
      <div class="warenkorb-oben-rechts-EHMNUx">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-gOheSN"
          src="img/iconfinder-basket-ecommerce-shop-4177565-2@1x.png"
        />
        <div class="gruppe-579-gOheSN">
          <div class="ellipse-47-TqxLws"></div>
          <div class="anzahl-warenkorb-TqxLws hiraginominchopron-w3-normal-gallery-15px">1</div>
        </div>
      </div>
    </div>
    <div class="produktansicht-375 screen">
      <div class="rechteck-136-hymGLb bp1-animate-enter109" show-on-scroll></div>
      <div class="gruppe-495-hymGLb">
        <div class="ellipse-32-Oh0P0E border-0-7px-white bp1-animate-enter110" show-on-scroll></div>
        <div class="ellipse-33-Oh0P0E border-0-7px-white bp1-animate-enter111" show-on-scroll></div>
        <img class="linie-32-Oh0P0E bp1-animate-enter112" show-on-scroll src="img/linie-32-1@1x.png" />
        <img class="linie-37-Oh0P0E bp1-animate-enter113" show-on-scroll src="img/linie-32-1@1x.png" />
        <img class="linie-33-Oh0P0E bp1-animate-enter114" show-on-scroll src="img/linie-33-1@1x.png" />
        <img class="linie-36-Oh0P0E bp1-animate-enter115" show-on-scroll src="img/linie-33-1@1x.png" />
        <div class="rechteck-137-Oh0P0E bp1-animate-enter116" show-on-scroll></div>
        <div class="gruppe-189-Oh0P0E bp1-animate-enter117" show-on-scroll>
          <div class="rechteck-117-cqkRFv"></div>
          <div class="b-cqkRFv hiraginominchopron-w6-normal-white-24px">B</div>
          <div class="b-J9NK0B hiraginominchopron-w6-normal-white-24px">B</div>
        </div>
        <div
          class="produktinformationen-Oh0P0E hiraginominchopron-w3-normal-black-20px bp1-animate-enter118"
          show-on-scroll
        >
          Produktinformationen
        </div>
        <div class="infotext-Oh0P0E hiraginominchopron-w3-normal-black-15px bp1-animate-enter119" show-on-scroll>
          Kleidchen #1 <br />Das rot-weiße Muster verleiht dem Stück Lebensfreude. Das Kleidchen ist mit einer kleinen
          weißen Ente geschmückt. Das Borbus Etikett bestätigt die Echtheit und Einzigartigkeit. <br />
        </div>
        <div
          class="vertrglichkeitwort-Oh0P0E hiraginominchopron-w3-normal-black-12px bp1-animate-enter120"
          show-on-scroll
        >
          Verträglichkeit: <br />
        </div>
        <div class="grewort-Oh0P0E hiraginominchopron-w3-normal-black-12px bp1-animate-enter121" show-on-scroll>
          Größe:
        </div>
        <div class="stoffwort-Oh0P0E hiraginominchopron-w3-normal-black-12px bp1-animate-enter122" show-on-scroll>
          Stoff:
        </div>
        <div class="musterwort-Oh0P0E hiraginominchopron-w3-normal-black-12px bp1-animate-enter123" show-on-scroll>
          Muster:
        </div>
        <div
          class="vertraeglichkeit1-Oh0P0E hiraginominchopron-w3-normal-black-12px bp1-animate-enter124"
          show-on-scroll
        >
          Hautfreundlich
        </div>
        <div class="groesse1-Oh0P0E hiraginominchopron-w3-normal-black-12px bp1-animate-enter125" show-on-scroll>
          98
        </div>
        <div class="stoff1-Oh0P0E hiraginominchopron-w3-normal-black-12px bp1-animate-enter126" show-on-scroll>
          Baumwolle
        </div>
        <div class="muster1-Oh0P0E hiraginominchopron-w3-normal-black-12px bp1-animate-enter127" show-on-scroll>
          gestreift
        </div>
        <div class="ellipse-34-Oh0P0E border-1px-black bp1-animate-enter128" show-on-scroll></div>
        <div class="ellipse-35-Oh0P0E border-1px-black bp1-animate-enter129" show-on-scroll></div>
        <div class="ellipse-36-Oh0P0E border-1px-black bp1-animate-enter130" show-on-scroll></div>
        <div class="ellipse-37-Oh0P0E border-1px-black bp1-animate-enter131" show-on-scroll></div>
      </div>
      <div class="gruppe-498-hymGLb">
        <div
          class="borbus-akzeptiert-fo-xugemg hiraginominchopron-w3-normal-black-15px bp1-animate-enter132"
          show-on-scroll
        >
          Borbus akzeptiert folgende <br />Zahlungsoptionen:
        </div>
        <div class="gruppe-497-xugemg">
          <div class="gruppe-496-qogfyg">
            <div
              class="versand-und-rckgabeinformation-6mpNgx hiraginominchopron-w3-normal-black-17px bp1-animate-enter133"
              show-on-scroll
            >
              Versand und Rückgabeinformation
            </div>
            <div
              class="zahlungsoptionen-6mpNgx hiraginominchopron-w3-normal-black-17px bp1-animate-enter134"
              show-on-scroll
            >
              Zahlungsoptionen
            </div>
            <div
              class="bei-jeder-bestellung-6mpNgx hiraginominchopron-w3-normal-black-15px bp1-animate-enter135"
              show-on-scroll
            >
              Bei jeder Bestellung wird geprüft, ob das Kleidchen noch verfügbar ist. Nach Erhalt der Versandbestätigung
              erfolgt die Zustellung in 5-7 Werktagen. Der Versand ist kostenlos. Rücksendungen sind ebenfalls
              kostenlos.
            </div>
            <img class="linie-39-6mpNgx bp1-animate-enter136" show-on-scroll src="img/linie-39@1x.png" />
            <img class="linie-48-6mpNgx bp1-animate-enter137" show-on-scroll src="img/linie-39@1x.png" />
            <div class="gruppe-557-6mpNgx">
              <a href="https://hedera.com" target="_blank"
                ><div
                  class="hedera-bxPOVO smart-layers-pointers hiraginominchopron-w3-normal-black-14px bp1-animate-enter138"
                >
                  Hedera
                </div>
              </a>
              <div class="gruppe-556-bxPOVO">
                <div class="ellipse-46-yM4tCR"></div>
                <img class="linie-49-yM4tCR" src="img/linie-49-1@1x.png" />
                <img class="linie-51-yM4tCR" src="img/linie-51-1@1x.png" />
                <img class="linie-52-yM4tCR" src="img/linie-51-1@1x.png" />
                <img class="linie-50-yM4tCR" src="img/linie-49-1@1x.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gruppe-293-hymGLb"><img class="linie-29-xfYIpE" src="img/linie-29@1x.png" /></div>
      <a href="https://borbus-shop.com/">
        <div class="gruppe-293-KKdcpu">
          <div class="home-CDVoKk hiraginomarugothicpron-w4-normal-black-16px bp1-animate-enter139" show-on-scroll>
            Home
          </div>
        </div></a
      ><a href="https://borbus-shop.com/shop"
        ><div class="shop-hymGLb hiraginomarugothicpron-w4-normal-black-16px bp1-animate-enter140" show-on-scroll>
          Shop
        </div> </a
      ><a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-hymGLb bp1-animate-enter141" show-on-scroll>
          <div class="ber-borbus-GuvyGc hiraginomarugothicpron-w4-normal-black-16px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/groessentabelle">
        <div class="gruppe-203-hymGLb smart-layers-pointers bp1-animate-enter142" show-on-scroll>
          <div class="rechteck-114-PoSTKd border-1-7px-stratos"></div>
          <div class="grenberatung-PoSTKd hiraginominchopron-w3-normal-stratos-13-5px">Größenberatung</div>
        </div></a
      >
      <div class="rechteck-118-hymGLb"></div>
      <div class="gruppe-546-hymGLb">
        <div class="sichere-bezahlung-K2x68a hiraginomarugothicpron-w4-normal-black-10px">Sichere Bezahlung</div>
        <div class="gruppe-199-K2x68a">
          <div class="rechteck-155-CX4bmP"></div>
          <img class="pfad-284-CX4bmP" src="img/pfad-284-1@1x.png" />
          <img class="pfad-285-CX4bmP" src="img/pfad-285-6@1x.png" />
        </div>
      </div>
      <div class="gruppe-548-hymGLb">
        <div class="stoffqualitt-g2nxPh hiraginomarugothicpron-w4-normal-black-10px">Stoffqualität</div>
        <div class="iconfinder_4265038_b-g2nxPh">
          <div class="ellipse-41-s8h8hz"></div>
          <img class="pfad-286-s8h8hz" src="img/pfad-286-1@1x.png" />
        </div>
      </div>
      <div class="gruppe-547-hymGLb">
        <div class="handarbeit-u4SLXD hiraginomarugothicpron-w4-normal-black-10px">Handarbeit</div>
        <div class="iconfinder_scissor_s-u4SLXD">
          <img class="pfad-273-SWLUBS" src="img/pfad-273@1x.png" />
          <img class="pfad-274-SWLUBS" src="img/pfad-274-3@1x.png" />
          <img class="pfad-275-SWLUBS" src="img/pfad-275@1x.png" />
          <img class="pfad-276-SWLUBS" src="img/pfad-273@1x.png" />
        </div>
      </div>
      <div class="gruppe-565-hymGLb">
        <div class="gruppe-494-tZr381">
          <div
            class="vorderseitewort-wVQQUR hiraginominchopron-w3-normal-black-12px bp1-animate-enter143"
            show-on-scroll
          >
            Vorderseite
          </div>
          <div class="gruppe-491-wVQQUR">
            <div class="bezeichnung-F5bfcM hiraginominchopron-w3-normal-black-20px bp1-animate-enter144" show-on-scroll>
              Kleidchen #1
            </div>
            <div
              class="x6-monate-3-jahre-F5bfcM hiraginominchopron-w3-normal-black-13px bp1-animate-enter145"
              show-on-scroll
            >
              6 Monate - 3 Jahre
            </div>
            <div class="stckpreis-F5bfcM hiraginominchopron-w3-normal-black-19px bp1-animate-enter146" show-on-scroll>
              27,50 €
            </div>
            <img class="linie-31-F5bfcM bp1-animate-enter147" show-on-scroll src="img/linie-31@1x.png" />
          </div>
          <div class="warenkorb-button-mitte-wVQQUR smart-layers-pointers bp1-animate-enter148" show-on-scroll>
            <div class="rechteck-114-xtSNn1 border-1-7px-stratos"></div>
            <div class="in-den-warenkorb-xtSNn1 hiraginominchopron-w3-normal-white-16px">In den Warenkorb</div>
          </div>
          <div class="rckseitewort-wVQQUR hiraginominchopron-w3-normal-black-12px bp1-animate-enter149" show-on-scroll>
            Rückseite
          </div>
        </div>
        <div class="vorderseitebild-tZr381"></div>
        <div class="rckseitebild-tZr381"></div>
      </div>
      <a href="https://borbus-shop.com/"
        ><div class="borbus-hymGLb hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="gruppe-327-hymGLb">
        <div class="rechteck-90-DHcYff"></div>
        <div class="gruppe-356-DHcYff">
          <div class="exklusive-serviceleistungen-nvqdoF hiraginomarugothicpron-w4-normal-swirl-10px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-nvqdoF">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-frei-irfIZ6 hiraginomarugothicpron-w4-normal-swirl-10px">Versand frei</div> </a
            ><img class="truck-irfIZ6" src="img/pfad-179-3@1x.png" />
          </div>
        </div>
        <div class="gruppe-359-DHcYff">
          <div class="knnen-wir-helfen-OCs9ZH hiraginomarugothicpron-w4-normal-swirl-10px">Können wir helfen?</div>
          <div class="gruppe-357-OCs9ZH">
            <div class="gruppe-140-Kz3moV">
              <a href="https://borbus-shop.com/kontakt"
                ><div class="kontakt-sh2hN0 hiraginomarugothicpron-w4-normal-swirl-10px">Kontakt</div>
              </a>
            </div>
            <img class="contact-Kz3moV" src="img/contact@1x.png" />
          </div>
          <div class="gruppe-358-OCs9ZH">
            <div class="gruppe-141-ZA1wuG">
              <a href="https://borbus-shop.com/zahlungsoptionen"
                ><div class="zahlungsoptionen-Znxy60 hiraginomarugothicpron-w4-normal-swirl-10px">Zahlungsoptionen</div>
              </a>
            </div>
            <img class="money-ZA1wuG" src="img/money@1x.png" />
          </div>
          <div class="gruppe-623-OCs9ZH">
            <div class="gruppe-141-dTSx8X">
              <a href="https://borbus-shop.com/nftinfo"
                ><div class="nft-jaWIBX hiraginomarugothicpron-w4-normal-swirl-10px">NFT</div>
              </a>
              <div class="gruppe-622-jaWIBX">
                <div class="gruppe-141-l7oNgD">
                  <img
                    class="x498951_child_clothes-t3MbsE"
                    src="img/498951-child-clothes-clothing-dress-fabric-icon-3-1x-png@1x.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gruppe-363-DHcYff">
          <div class="das-unternehmen-02xfd7 hiraginomarugothicpron-w4-normal-swirl-10px">Das Unternehmen</div>
          <div class="gruppe-362-02xfd7">
            <a href="https://borbus-shop.com/impressum">
              <div class="gruppe-158-dC8cgJ">
                <a href="https://borbus-shop.com/impressum" onclick="window.event.stopPropagation()"
                  ><div class="impressum-lGW4j7 hiraginomarugothicpron-w4-normal-swirl-10px">Impressum</div>
                </a>
              </div></a
            >
            <div class="gruppe-154-dC8cgJ">
              <div class="gruppe-159-gWNAeM">
                <div class="ellipse-25-2N2TQV"></div>
                <div class="i-2N2TQV hiraginomarugothicpron-w4-normal-black-8px">i</div>
              </div>
            </div>
          </div>
          <div class="gruppe-160-02xfd7">
            <div class="gruppe-155-YefvZp">
              <div class="gruppe-138-vi197C">
                <a href="https://borbus-shop.com/ueberborbus"
                  ><div class="ber-borbus-4MprHz hiraginomarugothicpron-w4-normal-swirl-10px">Über Borbus</div>
                </a>
              </div>
            </div>
            <div class="b-YefvZp hiraginominchopron-w6-normal-white-15px">B</div>
          </div>
          <div class="gruppe-361-02xfd7">
            <div class="gruppe-156-KtOcXR">
              <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                ><div class="geschftsbedien-gungen-03xCZQ hiraginomarugothicpron-w4-normal-swirl-10px">
                  Geschäftsbedien-<br />gungen
                </div>
              </a>
            </div>
            <img class="solid-KtOcXR" src="img/solid-1@1x.png" />
          </div>
          <div class="gruppe-360-02xfd7">
            <a href="https://borbus-shop.com/datenschutzerklaerung">
              <div class="gruppe-157-C9lKe7">
                <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                  ><div class="datenschutz-xmpM1o hiraginomarugothicpron-w4-normal-swirl-10px">Datenschutz</div>
                </a>
              </div></a
            ><img class="cookie-C9lKe7" src="img/cookie-3-1x-png@1x.png" />
          </div>
        </div>
        <a href="https://www.instagram.com/borbus_shop/" target="_blank">
          <div class="gruppe-325-DHcYff">
            <a href="https://www.instagram.com/borbus_shop/" onclick="window.event.stopPropagation()">
              <div class="gruppe-162-Kcj9go">
                <div class="folge-uns-auf-instagram-2AoObl hiraginomarugothicpron-w4-normal-swirl-10px">
                  Folge uns auf Instagram
                </div>
              </div></a
            ><img class="icon-instagram-Kcj9go" src="img/instagram-sketched-1@1x.png" /></div></a
        ><img class="ssl-DHcYff bp1-animate-enter150" src="img/ssl-10@1x.png" />
      </div>
      <div class="warenkorb-oben-rechts-hymGLb">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-8QBP4U"
          src="img/iconfinder-basket-ecommerce-shop-4177565-3-1x-png@1x.png"
        />
        <div class="gruppe-579-8QBP4U">
          <div class="ellipse-47-9D98nO"></div>
          <div class="anzahl-warenkorb-9D98nO hiraginominchopron-w3-normal-gallery-9px">1</div>
        </div>
      </div>
    </div>
    <script>
      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>

    {% expose items[pagination.pageNumber] %}
  </body>

</html>
