---
pagination:
  data: items
  size: 1
permalink: "produktansichtdetail{{ pagination.pageNumber + 1 }}/index.html"
---
<!DOCTYPE html>
      
<html>
  <head>
    <meta charset="utf-8" />
    <!--<meta name=description content="This site was generated with Anima. www.animaapp.com"/>-->
    <link rel="shortcut icon" type=image/png href=https://animaproject.s3.amazonaws.com/home/favicon.png/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" href="./img/favicon.png" />
    <title>Borbus Shop</title>
    <meta
      name="description"
      content="Eine von Kinderlachen inspirierte Kollektion, die die Unbeschwertheit des Lebens verkörpert."
    />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Borbus Shop" />
    <meta name="og:title" content="Borbus Shop" />
    <meta
      name="og:description"
      content="Eine von Kinderlachen inspirierte Kollektion, die die Unbeschwertheit des Lebens verkörpert."
    />
    <meta name="og:image" content="./img/bildschirmfoto-2022-03-10-um-12-13-54.png" />
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content="Borbus Shop" />
    <meta
      name="twitter:description"
      content="Eine von Kinderlachen inspirierte Kollektion, die die Unbeschwertheit des Lebens verkörpert."
    />
    <meta name="twitter:image:width" content="320px" />
    <meta name="twitter:image:height" content="320px" />
    <meta name="twitter:image:src" content="./img/bildschirmfoto-2022-03-10-um-12-13-54.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="Borbus Shop" />
    <link rel="stylesheet" type="text/css" href="css/produktansichtdetail-all-breakpoints.css" />
    <style></style>
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="produktansichtdetail-all-breakpoints" />
    <div class="produktansichtdetail-all-breakpoints screen">
      <div class="rechteck-136-Ixh8iQ bp3-animate-enter264" show-on-scroll></div>
      <a href="https://borbus-shop.com/produktansicht1"
        ><img
          class="icon-play-Ixh8iQ smart-layers-pointers bp3-animate-enter265"
          show-on-scroll
          src="img/pfad-279-2@1x.png"
        />
      </a>
      <div class="gruppe-499-Ixh8iQ">
        <div class="informationen-HGL23i hiraginominchopron-w3-normal-black-18px bp3-animate-enter266" show-on-scroll>
          Informationen
        </div>
        <div class="ellipse-32-HGL23i border-0-7px-white bp3-animate-enter267" show-on-scroll></div>
        <img class="linie-32-HGL23i bp3-animate-enter268" show-on-scroll src="img/linie-32-1@1x.png" />
        <img class="linie-33-HGL23i bp3-animate-enter269" show-on-scroll src="img/linie-33-1@1x.png" />
        <div
          class="vertrglichkeitwort-HGL23i hiraginominchopron-w3-normal-black-16px bp3-animate-enter270"
          show-on-scroll
        >
          Verträglichkeit: <br />
        </div>
        <div class="grewort-HGL23i hiraginominchopron-w3-normal-black-16px bp3-animate-enter271" show-on-scroll>
          Größe:
        </div>
        <div class="stoffwort-HGL23i hiraginominchopron-w3-normal-black-16px bp3-animate-enter272" show-on-scroll>
          Stoff:
        </div>
        <div class="musterwort-HGL23i hiraginominchopron-w3-normal-black-16px bp3-animate-enter273" show-on-scroll>
          Muster
        </div>
        <div
          class="vertraeglichkeit1-HGL23i hiraginominchopron-w3-normal-black-15px bp3-animate-enter274"
          show-on-scroll
        >
          Atmungsaktiv &amp; Hautfreundlich
        </div>
        <div class="groesse1-HGL23i hiraginominchopron-w3-normal-black-15px bp3-animate-enter275" show-on-scroll>
          98
        </div>
        <div class="stoff1-HGL23i hiraginominchopron-w3-normal-black-15px bp3-animate-enter276" show-on-scroll>
          Baumwolle
        </div>
        <div class="muster1-HGL23i hiraginominchopron-w3-normal-black-15px bp3-animate-enter277" show-on-scroll>
          gestreift
        </div>
        <div class="ellipse-34-HGL23i border-1px-black bp3-animate-enter278" show-on-scroll></div>
        <div class="ellipse-35-HGL23i border-1px-black bp3-animate-enter279" show-on-scroll></div>
        <div class="ellipse-36-HGL23i border-1px-black bp3-animate-enter280" show-on-scroll></div>
        <div class="ellipse-37-HGL23i border-1px-black bp3-animate-enter281" show-on-scroll></div>
      </div>
      <div class="gruppe-502-Ixh8iQ">
        <div class="gruppe-500-xsXGaQ">
          <div class="rechteck-137-dbPFFo bp3-animate-enter282" show-on-scroll></div>
          <div class="gruppe-189-dbPFFo bp3-animate-enter283" show-on-scroll>
            <div class="rechteck-117-ylLyJf"></div>
            <div class="b-ylLyJf hiraginominchopron-w6-normal-white-24px">B</div>
            <div class="b-klgKDO hiraginominchopron-w6-normal-white-24px">B</div>
          </div>
          <div
            class="angefangen-bei-der-s-dbPFFo hiraginominchopron-w3-normal-black-15px bp3-animate-enter284"
            show-on-scroll
          >
            Angefangen bei der Stoffauswahl, über das Design bis zur Produktion des Kleides machen wir alles selbst.
            Dabei legen wir großen Wert auf Stoffe, die besonders hautfreundlich und angenehm für unsere Kinder sind.
          </div>
          <div
            class="produktinformationen-dbPFFo hiraginominchopron-w3-normal-black-20px bp3-animate-enter285"
            show-on-scroll
          >
            Produktinformationen
          </div>
          <div class="infotext-dbPFFo hiraginominchopron-w3-normal-black-15px bp3-animate-enter286" show-on-scroll>
            Kleidchen #1 <br />Das rot-weiße Muster verleiht dem Stück Lebensfreude. Das Kleidchen ist mit einer kleinen
            weißen Ente geschmückt. Das Borbus Etikett bestätigt die Echtheit und Einzigartigkeit. <br />
          </div>
        </div>
        <div class="gruppe-501-xsXGaQ">
          <div
            class="versand-und-rckgabeinformation-d457Qs hiraginominchopron-w3-normal-black-20px bp3-animate-enter287"
            show-on-scroll
          >
            Versand und Rückgabeinformation
          </div>
          <div
            class="zahlungsoptionen-d457Qs hiraginominchopron-w3-normal-black-20px bp3-animate-enter288"
            show-on-scroll
          >
            Zahlungsoptionen
          </div>
          <img class="linie-38-d457Qs bp3-animate-enter289" show-on-scroll src="img/linie-38-1@1x.png" />
          <img class="linie-40-d457Qs bp3-animate-enter290" show-on-scroll src="img/linie-38-1@1x.png" />
          <img class="linie-39-d457Qs bp3-animate-enter291" show-on-scroll src="img/linie-38-1@1x.png" />
          <div
            class="bei-jeder-bestellung-d457Qs hiraginominchopron-w3-normal-black-15px bp3-animate-enter292"
            show-on-scroll
          >
            Bei jeder Bestellung wird geprüft, ob das Kleidchen noch verfügbar ist. Nach Erhalt der Versandbestätigung
            erfolgt die Zustellung in 5-7 Werktagen. Der Versand ist kostenlos. <br />Rücksendungen sind ebenfalls
            kostenlos.
          </div>
          <div
            class="borbus-akzeptiert-fo-d457Qs hiraginominchopron-w3-normal-black-15px bp3-animate-enter293"
            show-on-scroll
          >
            Borbus akzeptiert folgende Zahlungsoptionen:
          </div>
        </div>
        <div class="gruppe-557-xsXGaQ">
          <a href="https://www.paypal.com/de/home" target="_blank"
            ><div
              class="paypal-rfrY4u smart-layers-pointers hiraginominchopron-w3-normal-black-14px bp3-animate-enter294"
            >
              Paypal
            </div>
          </a>
          <div class="x32_50-paypal-rfrY4u">
            <div class="gruppe-700-zuFSyG">
              <img class="pfad-288-DtN8Cc" src="img/pfad-288-1@1x.png" />
              <img class="pfad-289-DtN8Cc" src="img/pfad-289-2@1x.png" />
            </div>
          </div>
        </div>
      </div>
      <img class="linie-29-Ixh8iQ" src="img/linie-29-1@1x.png" />
      <div class="rechteck-118-Ixh8iQ"></div>
      <div class="stoffqualitt-Ixh8iQ hiraginomarugothicpron-w4-normal-black-13px">Stoffqualität</div>
      <div class="handarbeit-Ixh8iQ hiraginomarugothicpron-w4-normal-black-13px">Handarbeit</div>
      <div class="sichere-bezahlung-Ixh8iQ hiraginomarugothicpron-w4-normal-black-13px">Sichere Bezahlung</div>
      <div class="gruppe-199-Ixh8iQ">
        <div class="rechteck-155-t6x1x7"></div>
        <img class="pfad-284-t6x1x7" src="img/pfad-284-1@1x.png" />
        <img class="pfad-285-t6x1x7" src="img/pfad-285-6@1x.png" />
      </div>
      <img class="rechteck-157-Ixh8iQ" src="img/rechteck-157-1@1x.png" />
      <div class="iconfinder_scissor_s-Ixh8iQ">
        <img class="pfad-273-BxNZHy" src="img/pfad-273-1x-png@1x.png" />
        <img class="pfad-274-BxNZHy" src="img/pfad-274-1@1x.png" />
        <img class="pfad-275-BxNZHy" src="img/pfad-275-1@1x.png" />
        <img class="pfad-276-BxNZHy" src="img/pfad-276-1@1x.png" />
      </div>
      <div class="iconfinder_4265038_b-Ixh8iQ">
        <div class="ellipse-41-JQ1hA1"></div>
        <img class="pfad-286-JQ1hA1" src="img/pfad-286@1x.png" />
      </div>
      <div class="gruppe-474-Ixh8iQ">
        <div
          class="kleidchenbezeichnung-oXSbpc hiraginominchopron-w3-normal-black-20px bp3-animate-enter295"
          show-on-scroll
        >
          Kleidchen #1
        </div>
        <div
          class="x6-monate-3-jahre-oXSbpc hiraginominchopron-w3-normal-black-18px bp3-animate-enter296"
          show-on-scroll
        >
          6 Monate - 3 Jahre
        </div>
        <div class="stckpreis-oXSbpc hiraginominchopron-w3-normal-black-19px bp3-animate-enter297" show-on-scroll>
          27,50 €
        </div>
        <img class="linie-31-oXSbpc bp3-animate-enter298" show-on-scroll src="img/linie-31-1@1x.png" />
        <div class="warenkorb-button-mitte-oXSbpc smart-layers-pointers bp3-animate-enter299" show-on-scroll>
          <div class="rechteck-114-CThSj1 border-1-7px-stratos"></div>
          <div class="in-den-warenkorb-CThSj1 hiraginominchopron-w3-normal-white-16px">In den Warenkorb</div>
        </div>
      </div>
      <a href="https://borbus-shop.com/"
        ><div class="home-Ixh8iQ hiraginomarugothicpron-w4-normal-black-18px bp3-animate-enter300" show-on-scroll>
          Home
        </div> </a
      ><a href="https://borbus-shop.com/shop"
        ><div class="shop-Ixh8iQ hiraginomarugothicpron-w4-normal-black-18px bp3-animate-enter301" show-on-scroll>
          Shop
        </div> </a
      ><a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-Ixh8iQ bp3-animate-enter302" show-on-scroll>
          <div class="ber-borbus-Y8Qwl0 hiraginomarugothicpron-w4-normal-black-18px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/groessentabelle">
        <div class="gruppe-203-Ixh8iQ smart-layers-pointers bp3-animate-enter303" show-on-scroll>
          <div class="rechteck-114-dIWSYD border-1-7px-stratos"></div>
          <div class="grenberatung-dIWSYD hiraginominchopron-w3-normal-stratos-13-5px">Größenberatung</div>
        </div></a
      ><a href="https://borbus-shop.com/"
        ><div class="borbus-Ixh8iQ hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="gruppe-163-Ixh8iQ bp3-animate-enter304" show-on-scroll>
        <div class="rechteck-90-h1oF6M"></div>
        <div class="gruppe-364-h1oF6M">
          <div class="exklusive-serviceleistungen-MdfxIu hiraginomarugothicpron-w4-normal-swirl-24px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-MdfxIu">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-rckversand-frei-c3x1cw hiraginomarugothicpron-w4-normal-swirl-15px">
                Versand &amp; Rückversand frei
              </div> </a
            ><img class="truck-c3x1cw" src="img/pfad-179-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-367-h1oF6M">
          <div class="knnen-wir-helfen-LDJxQ9 hiraginomarugothicpron-w4-normal-swirl-24px">Können wir helfen?</div>
          <div class="gruppe-365-LDJxQ9">
            <a href="https://borbus-shop.com/kontakt">
              <div class="gruppe-140-NUWVwO">
                <a href="https://borbus-shop.com/kontakt" onclick="window.event.stopPropagation()"
                  ><div class="kontakt-FFfPh0 hiraginomarugothicpron-w4-normal-swirl-15px">Kontakt</div>
                </a>
              </div></a
            ><img class="contact-NUWVwO" src="img/contact-10@1x.png" />
          </div>
          <div class="gruppe-366-LDJxQ9">
            <a href="https://borbus-shop.com/zahlungsoptionen">
              <div class="gruppe-141-hJ5wMP">
                <div class="zahlungsoptionen-7WYLH3 hiraginomarugothicpron-w4-normal-swirl-15px">Zahlungsoptionen</div>
              </div></a
            ><img class="money-hJ5wMP" src="img/money-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-372-h1oF6M">
          <div class="besuche-uns-xUIW1Y hiraginomarugothicpron-w4-normal-swirl-24px">Besuche Uns</div>
          <a href="https://www.instagram.com/borbus_shop/" target="_blank">
            <div class="gruppe-320-xUIW1Y">
              <div class="gruppe-162-SLgyhs">
                <a
                  href="https://www.instagram.com/borbus_shop/"
                  onclick="window.event.stopPropagation()"
                  target="_blank"
                  ><div class="instagram-VhZ6Vu hiraginomarugothicpron-w4-normal-swirl-15px">Instagram</div>
                </a>
              </div>
              <img class="icon-instagram-SLgyhs" src="img/instagram-sketched-10@1x.png" /></div
          ></a>
        </div>
      </div>
      <img class="ssl-Ixh8iQ bp3-animate-enter305" show-on-scroll src="img/ssl-10@1x.png" />
      <div class="gruppe-554-Ixh8iQ">
        <div class="gruppe-371-bxZXSR">
          <div class="das-unternehmen-lx77co hiraginomarugothicpron-w4-normal-swirl-24px">Das Unternehmen</div>
          <div class="gruppe-370-lx77co">
            <div class="gruppe-154-LB0wHf">
              <div class="gruppe-159-6spuMQ">
                <div class="ellipse-25-bYdblt"></div>
                <div class="i-bYdblt hiraginomarugothicpron-w4-normal-black-12px">i</div>
              </div>
            </div>
          </div>
          <div class="gruppe-160-lx77co">
            <a href="https://borbus-shop.com/ueberborbus">
              <div class="gruppe-155-LWxczF">
                <div class="gruppe-138-RxVZAw">
                  <div class="ber-borbus-DXIPAF hiraginomarugothicpron-w4-normal-swirl-15px">Über Borbus</div>
                </div>
              </div></a
            >
            <div class="b-LWxczF hiraginominchopron-w6-normal-white-20px">B</div>
          </div>
          <div class="gruppe-368-lx77co">
            <div class="gruppe-156-hbzBgx">
              <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                ><div class="geschfts-und-nutzungs-bediengungen-2fxuaC hiraginomarugothicpron-w4-normal-swirl-15px">
                  Geschäfts- und Nutzungs-<br />bediengungen
                </div>
              </a>
            </div>
            <img class="solid-hbzBgx" src="img/solid-18@1x.png" />
          </div>
          <div class="gruppe-369-lx77co">
            <a href="https://borbus-shop.com/datenschutzerklaerung">
              <div class="gruppe-157-Z5XfNP">
                <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                  ><div class="datenschutz-cookies-xxPKwr hiraginomarugothicpron-w4-normal-swirl-15px">
                    Datenschutz &amp; Cookies
                  </div>
                </a>
              </div></a
            ><img class="cookie-Z5XfNP" src="img/cookie-10@1x.png" />
          </div>
        </div>
        <a href="https://borbus-shop.com/impressum"
          ><div class="impressum-bxZXSR hiraginomarugothicpron-w4-normal-swirl-14px">Impressum</div>
        </a>
      </div>
      <div class="detailaufnahme-Ixh8iQ"></div>
      <div class="warenkorb-oben-rechts-Ixh8iQ">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-hjYDO4"
          src="img/iconfinder-basket-ecommerce-shop-4177565-2@1x.png"
        />
        <div class="gruppe-579-hjYDO4">
          <div class="ellipse-47-PoaOAp"></div>
          <div class="anzahl-warenkorb-PoaOAp hiraginominchopron-w3-normal-gallery-15px">1</div>
        </div>
      </div>
    </div>
    <div class="produktansicht-detail-1200 screen">
      <div class="detailaufnahme-mRPdjk"></div>
      <div class="rechteck-136-mRPdjk bp2-animate-enter262" show-on-scroll></div>
      <div class="ellipse-32-mRPdjk border-0-7px-white bp2-animate-enter263" show-on-scroll></div>
      <div class="ellipse-33-mRPdjk border-0-7px-white bp2-animate-enter264" show-on-scroll></div>
      <img class="linie-32-mRPdjk bp2-animate-enter265" show-on-scroll src="img/linie-32-1@1x.png" />
      <img class="linie-37-mRPdjk bp2-animate-enter266" show-on-scroll src="img/linie-32-1@1x.png" />
      <img class="linie-33-mRPdjk bp2-animate-enter267" show-on-scroll src="img/linie-33@1x.png" />
      <img class="linie-36-mRPdjk bp2-animate-enter268" show-on-scroll src="img/linie-33@1x.png" />
      <div class="gruppe-503-mRPdjk">
        <div class="rechteck-137-Oiopx8 bp2-animate-enter269" show-on-scroll></div>
        <div class="gruppe-189-Oiopx8 bp2-animate-enter270" show-on-scroll>
          <div class="rechteck-117-S6S4x6"></div>
          <div class="b-S6S4x6 hiraginominchopron-w6-normal-white-24px">B</div>
          <div class="b-4zV1Zx hiraginominchopron-w6-normal-white-24px">B</div>
        </div>
        <div
          class="produktinformationen-Oiopx8 hiraginominchopron-w3-normal-black-20px bp2-animate-enter271"
          show-on-scroll
        >
          Produktinformationen
        </div>
        <div class="infotext-Oiopx8 hiraginominchopron-w3-normal-black-15px bp2-animate-enter272" show-on-scroll>
          Kleidchen #1 <br />Das rot-weiße Muster verleiht dem Stück Lebensfreude. Das Kleidchen ist mit einer kleinen
          weißen Ente geschmückt. Das Borbus Etikett bestätigt die Echtheit und Einzigartigkeit. <br />
        </div>
        <div
          class="angefangen-bei-der-s-Oiopx8 hiraginominchopron-w3-normal-black-15px bp2-animate-enter273"
          show-on-scroll
        >
          Angefangen bei der Stoffauswahl, über das Design bis zur Produktion des Kleides machen wir alles selbst. Dabei
          legen wir großen Wert auf Stoffe, die besonders hautfreundlich und angenehm für unsere Kinder sind.
        </div>
      </div>
      <div class="gruppe-504-mRPdjk">
        <div
          class="vertrglichkeitwort-tveYyu hiraginominchopron-w3-normal-black-13px bp2-animate-enter274"
          show-on-scroll
        >
          Verträglichkeit: <br />
        </div>
        <div class="grewort-tveYyu hiraginominchopron-w3-normal-black-13px bp2-animate-enter275" show-on-scroll>
          Größe:
        </div>
        <div class="stoffwort-tveYyu hiraginominchopron-w3-normal-black-13px bp2-animate-enter276" show-on-scroll>
          Stoff:
        </div>
        <div class="musterwort-tveYyu hiraginominchopron-w3-normal-black-13px bp2-animate-enter277" show-on-scroll>
          Muster:
        </div>
        <div
          class="vertraeglichkeit1-tveYyu hiraginominchopron-w3-normal-black-13px bp2-animate-enter278"
          show-on-scroll
        >
          Atmungsaktiv
        </div>
        <div class="groesse1-tveYyu hiraginominchopron-w3-normal-black-13px bp2-animate-enter279" show-on-scroll>
          98
        </div>
        <div class="stoff1-tveYyu hiraginominchopron-w3-normal-black-13px bp2-animate-enter280" show-on-scroll>
          Baumwolle
        </div>
        <div class="muster1-tveYyu hiraginominchopron-w3-normal-black-13px bp2-animate-enter281" show-on-scroll>
          gestreift
        </div>
        <div class="ellipse-42-tveYyu border-1px-black bp2-animate-enter282" show-on-scroll></div>
        <div class="ellipse-43-tveYyu border-1px-black bp2-animate-enter283" show-on-scroll></div>
        <div class="ellipse-44-tveYyu border-1px-black bp2-animate-enter284" show-on-scroll></div>
        <div class="ellipse-45-tveYyu border-1px-black bp2-animate-enter285" show-on-scroll></div>
      </div>
      <a href="https://borbus-shop.com/produktansicht1"
        ><img
          class="icon-play-mRPdjk smart-layers-pointers bp2-animate-enter286"
          show-on-scroll
          src="img/pfad-279-2@1x.png"
        /> </a
      ><img class="linie-29-mRPdjk" src="img/linie-29@1x.png" />
      <div class="rechteck-118-mRPdjk"></div>
      <div class="stoffqualitt-mRPdjk hiraginomarugothicpron-w4-normal-black-13px">Stoffqualität</div>
      <div class="handarbeit-mRPdjk hiraginomarugothicpron-w4-normal-black-13px">Handarbeit</div>
      <div class="sichere-bezahlung-mRPdjk hiraginomarugothicpron-w4-normal-black-13px">Sichere Bezahlung</div>
      <div class="gruppe-199-mRPdjk">
        <div class="rechteck-155-V7lXZm"></div>
        <img class="pfad-284-V7lXZm" src="img/pfad-284-1@1x.png" />
        <img class="pfad-285-V7lXZm" src="img/pfad-285@1x.png" />
      </div>
      <img class="rechteck-157-mRPdjk" src="img/rechteck-157-1@1x.png" />
      <div class="iconfinder_4265038_b-mRPdjk">
        <div class="ellipse-41-DQbV4m"></div>
        <img class="pfad-286-DQbV4m" src="img/pfad-286@1x.png" />
      </div>
      <div class="iconfinder_scissor_s-mRPdjk">
        <img class="pfad-273-Liwgkg" src="img/pfad-273@1x.png" />
        <img class="pfad-274-Liwgkg" src="img/pfad-274@1x.png" />
        <img class="pfad-275-Liwgkg" src="img/pfad-275@1x.png" />
        <img class="pfad-276-Liwgkg" src="img/pfad-273@1x.png" />
      </div>
      <div class="gruppe-481-mRPdjk">
        <div class="gruppe-480-0NP2Ne">
          <div
            class="kleidchenbezeichnung-TyPxFh hiraginominchopron-w3-normal-black-20px bp2-animate-enter287"
            show-on-scroll
          >
            Kleidchen #1
          </div>
          <div
            class="x6-monate-3-jahre-TyPxFh hiraginominchopron-w3-normal-black-18px bp2-animate-enter288"
            show-on-scroll
          >
            6 Monate - 3 Jahre
          </div>
          <div class="stckpreis-TyPxFh hiraginominchopron-w3-normal-black-19px bp2-animate-enter289" show-on-scroll>
            27,50 €
          </div>
          <img class="linie-31-TyPxFh bp2-animate-enter290" show-on-scroll src="img/linie-31-1-1x-png@1x.png" />
          <div class="warenkorb-button-mitte-TyPxFh smart-layers-pointers bp2-animate-enter291" show-on-scroll>
            <div class="rechteck-114-lsMPfA border-1-7px-stratos"></div>
            <div class="in-den-warenkorb-lsMPfA hiraginominchopron-w3-normal-white-16px">In den Warenkorb</div>
          </div>
        </div>
      </div>
      <div class="gruppe-483-mRPdjk">
        <div
          class="versand-und-rckgabeinformation-CSGJz5 hiraginominchopron-w3-normal-black-20px bp2-animate-enter292"
          show-on-scroll
        >
          Versand und Rückgabeinformation
        </div>
        <div
          class="zahlungsoptionen-CSGJz5 hiraginominchopron-w3-normal-black-20px bp2-animate-enter293"
          show-on-scroll
        >
          Zahlungsoptionen
        </div>
        <div
          class="bei-jeder-bestellung-CSGJz5 hiraginominchopron-w3-normal-black-15px bp2-animate-enter294"
          show-on-scroll
        >
          Bei jeder Bestellung wird geprüft, ob das Kleidchen noch verfügbar ist. Nach Erhalt der Versandbestätigung
          erfolgt die Zustellung in 5-7 Werktagen. Der Versand ist kostenlos. <br />Rücksendungen sind ebenfalls
          kostenlos.
        </div>
        <div
          class="borbus-akzeptiert-fo-CSGJz5 hiraginominchopron-w3-normal-black-15px bp2-animate-enter295"
          show-on-scroll
        >
          Borbus akzeptiert folgende Zahlungsoptionen:
        </div>
        <img class="linie-39-CSGJz5 bp2-animate-enter296" show-on-scroll src="img/linie-39@1x.png" />
        <img class="linie-47-CSGJz5 bp2-animate-enter297" show-on-scroll src="img/linie-39@1x.png" />
        <div class="gruppe-557-CSGJz5">
          <a href="https://www.paypal.com/de/home" target="_blank"
            ><div
              class="paypal-51Gd4W smart-layers-pointers hiraginominchopron-w3-normal-black-14px bp2-animate-enter298"
            >
              Paypal
            </div>
          </a>
          <div class="x32_50-paypal-51Gd4W">
            <div class="gruppe-700-41BZs7">
              <img class="pfad-288-L2MtdE" src="img/pfad-288-1@1x.png" />
              <img class="pfad-289-L2MtdE" src="img/pfad-289-1@1x.png" />
            </div>
          </div>
        </div>
      </div>
      <a href="https://borbus-shop.com/"
        ><div class="home-mRPdjk hiraginomarugothicpron-w4-normal-black-18px bp2-animate-enter299" show-on-scroll>
          Home
        </div> </a
      ><a href="https://borbus-shop.com/shop"
        ><div class="shop-mRPdjk hiraginomarugothicpron-w4-normal-black-18px bp2-animate-enter300" show-on-scroll>
          Shop
        </div> </a
      ><a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-mRPdjk bp2-animate-enter301" show-on-scroll>
          <div class="ber-borbus-oEKQEb hiraginomarugothicpron-w4-normal-black-18px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/groessentabelle">
        <div class="gruppe-203-mRPdjk smart-layers-pointers bp2-animate-enter302" show-on-scroll>
          <div class="rechteck-114-aK3Vnd border-1-7px-stratos"></div>
          <div class="grenberatung-aK3Vnd hiraginominchopron-w3-normal-stratos-13-5px">Größenberatung</div>
        </div></a
      >
      <div class="informationen-mRPdjk hiraginominchopron-w3-normal-black-18px bp2-animate-enter303" show-on-scroll>
        Informationen
      </div>
      <a href="https://borbus-shop.com/"
        ><div class="borbus-mRPdjk hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="gruppe-322-mRPdjk">
        <div class="gruppe-163-tpT6Tg bp2-animate-enter304">
          <div class="rechteck-90-nquBQU"></div>
          <div class="exklusive-serviceleistungen-nquBQU hiraginomarugothicpron-w4-normal-swirl-22px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-nquBQU">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-frei-OxjNLK hiraginomarugothicpron-w4-normal-swirl-14px">Versand frei</div> </a
            ><img class="truck-OxjNLK" src="img/pfad-179-10@1x.png" />
          </div>
          <div class="gruppe-341-nquBQU">
            <div class="knnen-wir-helfen-2pgHJG hiraginomarugothicpron-w4-normal-swirl-22px">Können wir helfen?</div>
            <div class="gruppe-339-2pgHJG">
              <a href="https://borbus-shop.com/kontakt">
                <div class="gruppe-140-gJiLwx">
                  <a href="https://borbus-shop.com/kontakt" onclick="window.event.stopPropagation()"
                    ><div class="kontakt-qcTfxS hiraginomarugothicpron-w4-normal-swirl-14px">Kontakt</div>
                  </a>
                </div></a
              ><img class="contact-gJiLwx" src="img/contact@1x.png" />
            </div>
            <div class="gruppe-340-2pgHJG">
              <a href="https://borbus-shop.com/zahlungsoptionen">
                <div class="gruppe-141-CTJIpB">
                  <div class="zahlungsoptionen-CeIFvR hiraginomarugothicpron-w4-normal-swirl-14px">
                    Zahlungsoptionen
                  </div>
                </div></a
              ><img class="money-CTJIpB" src="img/money@1x.png" />
            </div>
          </div>
          <div class="gruppe-345-nquBQU">
            <div class="das-unternehmen-2Htscr hiraginomarugothicpron-w4-normal-swirl-22px">Das Unternehmen</div>
            <div class="gruppe-344-2Htscr">
              <a href="https://borbus-shop.com/impressum">
                <div class="gruppe-158-tZe7xu">
                  <a href="https://borbus-shop.com/impressum" onclick="window.event.stopPropagation()"
                    ><div class="impressum-lhc8m2 hiraginomarugothicpron-w4-normal-swirl-15px">Impressum</div>
                  </a>
                </div></a
              >
              <div class="gruppe-154-tZe7xu">
                <div class="gruppe-159-3ocRLu">
                  <div class="ellipse-25-BIybfV"></div>
                  <div class="i-BIybfV hiraginomarugothicpron-w4-normal-black-12px">i</div>
                </div>
              </div>
            </div>
            <div class="gruppe-160-2Htscr">
              <a href="https://borbus-shop.com/ueberborbus">
                <div class="gruppe-155-j0NLnR">
                  <div class="gruppe-138-I2nqxc">
                    <a href="https://borbus-shop.com/ueberborbus" onclick="window.event.stopPropagation()"
                      ><div class="ber-borbus-PYUNCC hiraginomarugothicpron-w4-normal-swirl-15px">Über Borbus</div>
                    </a>
                  </div>
                </div></a
              >
              <div class="b-j0NLnR hiraginominchopron-w6-normal-white-20px">B</div>
            </div>
            <div class="gruppe-342-2Htscr">
              <div class="gruppe-156-Nxsesg">
                <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                  ><div class="geschfts-und-nutzungsbediengungen-KxOkuq hiraginomarugothicpron-w4-normal-swirl-15px">
                    Geschäfts- und <br />Nutzungsbediengungen
                  </div>
                </a>
              </div>
              <img class="solid-Nxsesg" src="img/solid-1@1x.png" />
            </div>
            <div class="gruppe-343-2Htscr">
              <a href="https://borbus-shop.com/datenschutzerklaerung">
                <div class="gruppe-157-eQoAFN">
                  <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                    ><div class="datenschutz-cookies-aURayU hiraginomarugothicpron-w4-normal-swirl-15px">
                      Datenschutz &amp; Cookies
                    </div>
                  </a>
                </div></a
              ><img class="cookie-eQoAFN" src="img/cookie-10@1x.png" />
            </div>
          </div>
          <div class="gruppe-346-nquBQU">
            <div class="besuche-uns-1e63Ic hiraginomarugothicpron-w4-normal-swirl-22px">Besuche Uns</div>
            <a href="https://www.instagram.com/borbus_shop/" target="_blank">
              <div class="gruppe-321-1e63Ic">
                <div class="gruppe-162-qnnZyD">
                  <div class="instagram-FocpLc hiraginomarugothicpron-w4-normal-swirl-15px">Instagram</div>
                </div>
                <img class="icon-instagram-qnnZyD" src="img/instagram-sketched-10@1x.png" /></div
            ></a>
          </div>
        </div>
        <img class="ssl-tpT6Tg bp2-animate-enter305" src="img/ssl-10@1x.png" />
      </div>
      <div class="warenkorb-oben-rechts-mRPdjk">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-UC6IFR"
          src="img/iconfinder-basket-ecommerce-shop-4177565-2@1x.png"
        />
        <div class="gruppe-579-UC6IFR">
          <div class="ellipse-47-eOFgqs"></div>
          <div class="anzahl-warenkorb-eOFgqs hiraginominchopron-w3-normal-gallery-15px">1</div>
        </div>
      </div>
    </div>
    <div class="produktansicht-detail-767 screen">
      <div class="detailaufnahme-Slq7ie"></div>
      <div class="ellipse-32-Slq7ie border-0-7px-white bp1-animate-enter246" show-on-scroll></div>
      <div class="ellipse-33-Slq7ie border-0-7px-white bp1-animate-enter247" show-on-scroll></div>
      <img class="linie-32-Slq7ie bp1-animate-enter248" show-on-scroll src="img/linie-32-1@1x.png" />
      <img class="linie-37-Slq7ie bp1-animate-enter249" show-on-scroll src="img/linie-32-1@1x.png" />
      <img class="linie-33-Slq7ie bp1-animate-enter250" show-on-scroll src="img/linie-33-1@1x.png" />
      <img class="linie-36-Slq7ie bp1-animate-enter251" show-on-scroll src="img/linie-33-1@1x.png" />
      <a href="https://borbus-shop.com/produktansicht1"
        ><img
          class="icon-play-Slq7ie smart-layers-pointers bp1-animate-enter252"
          show-on-scroll
          src="img/pfad-279@1x.png"
        /> </a
      ><img class="linie-29-Slq7ie" src="img/linie-29@1x.png" />
      <div class="rechteck-118-Slq7ie"></div>
      <div class="stoffqualitt-Slq7ie hiraginomarugothicpron-w4-normal-black-13px">Stoffqualität</div>
      <div class="handarbeit-Slq7ie hiraginomarugothicpron-w4-normal-black-13px">Handarbeit</div>
      <div class="sichere-bezahlung-Slq7ie hiraginomarugothicpron-w4-normal-black-13px">Sichere Bezahlung</div>
      <div class="gruppe-199-Slq7ie">
        <div class="rechteck-155-TOu6O1"></div>
        <img class="pfad-284-TOu6O1" src="img/pfad-284-1@1x.png" />
        <img class="pfad-285-TOu6O1" src="img/pfad-285-6@1x.png" />
      </div>
      <img class="rechteck-157-Slq7ie" src="img/rechteck-157-1@1x.png" />
      <div class="iconfinder_4265038_b-Slq7ie">
        <div class="ellipse-41-L5g9ij"></div>
        <img class="pfad-286-L5g9ij" src="img/pfad-286-1@1x.png" />
      </div>
      <div class="iconfinder_scissor_s-Slq7ie">
        <img class="pfad-273-7Xz9ic" src="img/pfad-273@1x.png" />
        <img class="pfad-274-7Xz9ic" src="img/pfad-274@1x.png" />
        <img class="pfad-275-7Xz9ic" src="img/pfad-275@1x.png" />
        <img class="pfad-276-7Xz9ic" src="img/pfad-273@1x.png" />
      </div>
      <div class="gruppe-488-Slq7ie">
        <div class="gruppe-487-dUYWEO">
          <div
            class="x6-monate-3-jahre-4ThDC7 hiraginominchopron-w3-normal-black-18px bp1-animate-enter253"
            show-on-scroll
          >
            6 Monate - 3 Jahre
          </div>
          <div class="stckpreis-4ThDC7 hiraginominchopron-w3-normal-black-19px bp1-animate-enter254" show-on-scroll>
            27,50 €
          </div>
          <div class="warenkorb-button-mitte-4ThDC7 smart-layers-pointers bp1-animate-enter255" show-on-scroll>
            <div class="rechteck-114-Ija7N6 border-1-7px-stratos"></div>
            <div class="in-den-warenkorb-Ija7N6 hiraginominchopron-w3-normal-white-16px">In den Warenkorb</div>
          </div>
          <div
            class="kleidchenbezeichnung-4ThDC7 hiraginominchopron-w3-normal-black-20px bp1-animate-enter256"
            show-on-scroll
          >
            Kleidchen #1
          </div>
          <img class="linie-31-4ThDC7 bp1-animate-enter257" show-on-scroll src="img/linie-31@1x.png" />
        </div>
      </div>
      <div class="rechteck-136-Slq7ie bp1-animate-enter258" show-on-scroll></div>
      <div class="gruppe-490-Slq7ie">
        <div
          class="versand-und-rckgabeinformation-eTQgif hiraginominchopron-w3-normal-black-20px bp1-animate-enter259"
          show-on-scroll
        >
          Versand und Rückgabeinformation
        </div>
        <div
          class="zahlungsoptionen-eTQgif hiraginominchopron-w3-normal-black-20px bp1-animate-enter260"
          show-on-scroll
        >
          Zahlungsoptionen
        </div>
        <div
          class="bei-jeder-bestellung-eTQgif hiraginominchopron-w3-normal-black-15px bp1-animate-enter261"
          show-on-scroll
        >
          Bei jeder Bestellung wird geprüft, ob das Kleidchen noch verfügbar ist. Nach Erhalt der Versandbestätigung
          erfolgt die Zustellung in 5-7 Werktagen. Der Versand ist kostenlos. <br />Rücksendungen sind ebenfalls
          kostenlos.
        </div>
        <div
          class="borbus-akzeptiert-fo-eTQgif hiraginominchopron-w3-normal-black-15px bp1-animate-enter262"
          show-on-scroll
        >
          Borbus akzeptiert folgende Zahlungsoptionen:
        </div>
        <img class="linie-39-eTQgif bp1-animate-enter263" show-on-scroll src="img/linie-39@1x.png" />
        <img class="linie-47-eTQgif bp1-animate-enter264" show-on-scroll src="img/linie-47@1x.png" />
        <div class="gruppe-557-eTQgif">
          <a href="https://www.paypal.com/de/home" target="_blank"
            ><div
              class="paypal-E0exTh smart-layers-pointers hiraginominchopron-w3-normal-black-14px bp1-animate-enter265"
            >
              Paypal
            </div>
          </a>
          <div class="x32_50-paypal-E0exTh">
            <div class="gruppe-700-DJzjKe">
              <img class="pfad-288-B34eji" src="img/pfad-288-1@1x.png" />
              <img class="pfad-289-B34eji" src="img/pfad-289-2-1x-png@1x.png" />
            </div>
          </div>
        </div>
      </div>
      <a href="https://borbus-shop.com/"
        ><div class="home-Slq7ie hiraginomarugothicpron-w4-normal-black-18px bp1-animate-enter266" show-on-scroll>
          Home
        </div> </a
      ><a href="https://borbus-shop.com/shop"
        ><div class="shop-Slq7ie hiraginomarugothicpron-w4-normal-black-18px bp1-animate-enter267" show-on-scroll>
          Shop
        </div> </a
      ><a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-Slq7ie bp1-animate-enter268" show-on-scroll>
          <div class="ber-borbus-bxmIi8 hiraginomarugothicpron-w4-normal-black-18px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/groessentabelle">
        <div class="gruppe-203-Slq7ie smart-layers-pointers bp1-animate-enter269" show-on-scroll>
          <div class="rechteck-114-zun1kj border-1-7px-stratos"></div>
          <div class="grenberatung-zun1kj hiraginominchopron-w3-normal-stratos-13-5px">Größenberatung</div>
        </div></a
      >
      <div class="gruppe-489-Slq7ie">
        <div class="rechteck-137-xKKG21 bp1-animate-enter270" show-on-scroll></div>
        <div class="gruppe-189-xKKG21 bp1-animate-enter271" show-on-scroll>
          <div class="rechteck-117-WUwK3D"></div>
          <div class="b-WUwK3D hiraginominchopron-w6-normal-white-24px">B</div>
          <div class="b-xTZ9CD hiraginominchopron-w6-normal-white-24px">B</div>
        </div>
        <div
          class="produktinformationen-xKKG21 hiraginominchopron-w3-normal-black-20px bp1-animate-enter272"
          show-on-scroll
        >
          Produktinformationen
        </div>
        <div class="infotext-xKKG21 hiraginominchopron-w3-normal-black-15px bp1-animate-enter273" show-on-scroll>
          Kleidchen #1 <br />Das rot-weiße Muster verleiht dem Stück Lebensfreude. Das Kleidchen ist mit einer kleinen
          weißen Ente geschmückt. Das Borbus Etikett bestätigt die Echtheit und Einzigartigkeit. <br />
        </div>
        <div
          class="vertrglichkeitwort-xKKG21 hiraginominchopron-w3-normal-black-16px bp1-animate-enter274"
          show-on-scroll
        >
          Verträglichkeit: <br />
        </div>
        <div class="grewort-xKKG21 hiraginominchopron-w3-normal-black-16px bp1-animate-enter275" show-on-scroll>
          Größe:
        </div>
        <div class="stoffewort-xKKG21 hiraginominchopron-w3-normal-black-16px bp1-animate-enter276" show-on-scroll>
          Stoffe:
        </div>
        <div class="musterwort-xKKG21 hiraginominchopron-w3-normal-black-16px bp1-animate-enter277" show-on-scroll>
          Muster:
        </div>
        <div
          class="vertraeglichkeit1-xKKG21 hiraginominchopron-w3-normal-black-15px bp1-animate-enter278"
          show-on-scroll
        >
          Atmungsaktiv &amp; Hautfreundlich
        </div>
        <div class="groesse1-xKKG21 hiraginominchopron-w3-normal-black-15px bp1-animate-enter279" show-on-scroll>
          98
        </div>
        <div class="stoff1-xKKG21 hiraginominchopron-w3-normal-black-15px bp1-animate-enter280" show-on-scroll>
          Baumwolle
        </div>
        <div class="muster1-xKKG21 hiraginominchopron-w3-normal-black-15px bp1-animate-enter281" show-on-scroll>
          gestreift
        </div>
        <div class="ellipse-34-xKKG21 border-1px-black bp1-animate-enter282" show-on-scroll></div>
        <div class="ellipse-35-xKKG21 border-1px-black bp1-animate-enter283" show-on-scroll></div>
        <div class="ellipse-36-xKKG21 border-1px-black bp1-animate-enter284" show-on-scroll></div>
        <div class="ellipse-37-xKKG21 border-1px-black bp1-animate-enter285" show-on-scroll></div>
      </div>
      <a href="https://borbus-shop.com/"
        ><div class="borbus-Slq7ie hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="gruppe-163-Slq7ie bp1-animate-enter286">
        <div class="rechteck-90-TNtVIV"></div>
        <div class="gruppe-347-TNtVIV">
          <div class="exklusive-serviceleistungen-xfVETE hiraginomarugothicpron-w4-normal-swirl-16px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-xfVETE">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-frei-PzIkxG hiraginomarugothicpron-w4-normal-swirl-14px">Versand frei</div> </a
            ><img class="truck-PzIkxG" src="img/pfad-179-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-350-TNtVIV">
          <div class="knnen-wir-helfen-7u6mSE hiraginomarugothicpron-w4-normal-swirl-16px">Können wir helfen?</div>
          <div class="gruppe-348-7u6mSE">
            <div class="gruppe-140-6DHGJr">
              <a href="https://borbus-shop.com/kontakt"
                ><div class="kontakt-DxX5Vy hiraginomarugothicpron-w4-normal-swirl-14px">Kontakt</div>
              </a>
            </div>
            <img class="contact-6DHGJr" src="img/contact-7@1x.png" />
          </div>
          <div class="gruppe-349-7u6mSE">
            <a href="https://borbus-shop.com/zahlungsoptionen">
              <div class="gruppe-141-mS13OW">
                <div class="zahlungsoptionen-4R5n1S hiraginomarugothicpron-w4-normal-swirl-14px">Zahlungsoptionen</div>
              </div></a
            ><img class="money-mS13OW" src="img/money-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-354-TNtVIV">
          <div class="das-unternehmen-cGfXJ7 hiraginomarugothicpron-w4-normal-swirl-16px">Das Unternehmen</div>
          <div class="gruppe-353-cGfXJ7">
            <a href="https://borbus-shop.com/impressum">
              <div class="gruppe-158-xQYhRa">
                <a href="https://borbus-shop.com/impressum" onclick="window.event.stopPropagation()"
                  ><div class="impressum-oZ6TyJ hiraginomarugothicpron-w4-normal-swirl-15px">Impressum</div>
                </a>
              </div></a
            >
            <div class="gruppe-154-xQYhRa">
              <div class="gruppe-159-L9gIwo">
                <div class="ellipse-25-4hi7VH"></div>
                <div class="i-4hi7VH hiraginomarugothicpron-w4-normal-black-12px">i</div>
              </div>
            </div>
          </div>
          <div class="gruppe-160-cGfXJ7">
            <div class="gruppe-155-uxngc5">
              <div class="gruppe-138-LMqXqu">
                <a href="https://borbus-shop.com/ueberborbus"
                  ><div class="ber-borbus-yKban1 hiraginomarugothicpron-w4-normal-swirl-15px">Über Borbus</div>
                </a>
              </div>
            </div>
            <div class="b-uxngc5 hiraginominchopron-w6-normal-white-20px">B</div>
          </div>
          <div class="gruppe-351-cGfXJ7">
            <div class="gruppe-156-Xed4RE">
              <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                ><div class="geschfts-und-nutzungsbediengungen-8aNa3a hiraginomarugothicpron-w4-normal-swirl-15px">
                  Geschäfts- und <br />Nutzungsbediengungen
                </div>
              </a>
            </div>
            <img class="solid-Xed4RE" src="img/solid-14@1x.png" />
          </div>
          <div class="gruppe-352-cGfXJ7">
            <a href="https://borbus-shop.com/datenschutzerklaerung">
              <div class="gruppe-157-rvPgp9">
                <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                  ><div class="datenschutz-cookies-wTQOxJ hiraginomarugothicpron-w4-normal-swirl-15px">
                    Datenschutz &amp; Cookies
                  </div>
                </a>
              </div></a
            ><img class="cookie-rvPgp9" src="img/cookie-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-355-TNtVIV">
          <div class="besuche-uns-Ncpq44 hiraginomarugothicpron-w4-normal-swirl-16px">Besuche Uns</div>
          <a href="https://www.instagram.com/borbus_shop/">
            <div class="gruppe-323-Ncpq44">
              <div class="gruppe-162-YnOFxo">
                <div class="instagram-3UVPtE hiraginomarugothicpron-w4-normal-swirl-15px">Instagram</div>
              </div>
              <img class="icon-instagram-YnOFxo" src="img/instagram-sketched-1@1x.png" /></div
          ></a>
        </div>
      </div>
      <img class="ssl-Slq7ie bp1-animate-enter287" src="img/ssl-10@1x.png" />
      <div class="warenkorb-oben-rechts-Slq7ie">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-jFOP1A"
          src="img/iconfinder-basket-ecommerce-shop-4177565-2@1x.png"
        />
        <div class="gruppe-579-jFOP1A">
          <div class="ellipse-47-4XECrs"></div>
          <div class="anzahl-warenkorb-4XECrs hiraginominchopron-w3-normal-gallery-15px">1</div>
        </div>
      </div>
    </div>
    <script>
      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>
  
    {% expose items[pagination.pageNumber] %}
  </body>
      
</html>
