<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" href="./img/favicon.png" />
    <title>Borbus Shop</title>
    <meta
      name="description"
      content="Eine von Kinderlachen inspirierte Kollektion, die die Unbeschwertheit des Lebens verkörpert."
    />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Borbus Shop" />
    <meta name="og:title" content="Borbus Shop" />
    <meta
      name="og:description"
      content="Eine von Kinderlachen inspirierte Kollektion, die die Unbeschwertheit des Lebens verkörpert."
    />
    <meta name="og:image" content="./img/bildschirmfoto-2022-03-10-um-12-13-54.png" />
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content="Borbus Shop" />
    <meta
      name="twitter:description"
      content="Eine von Kinderlachen inspirierte Kollektion, die die Unbeschwertheit des Lebens verkörpert."
    />
    <meta name="twitter:image:width" content="320px" />
    <meta name="twitter:image:height" content="320px" />
    <meta name="twitter:image:src" content="./img/bildschirmfoto-2022-03-10-um-12-13-54.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="Borbus Shop" />
    <link rel="stylesheet" type="text/css" href="css/shop.css" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <style></style>
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="shop" />
    <div class="shop screen">
      <div class="x24-artikel-Gd4xtk hiraginomarugothicpron-w4-normal-black-16px">24 Artikel</div>
      <img class="linie-29-Gd4xtk" src="img/linie-29-1@1x.png" />
      <div class="rechteck-118-Gd4xtk"></div>
      <div class="stoffqualitt-Gd4xtk hiraginomarugothicpron-w4-normal-black-13px">Stoffqualität</div>
      <div class="handarbeit-Gd4xtk hiraginomarugothicpron-w4-normal-black-13px">Handarbeit</div>
      <div class="sichere-bezahlung-Gd4xtk hiraginomarugothicpron-w4-normal-black-13px">Sichere Bezahlung</div>
      <div class="gruppe-199-Gd4xtk">
        <div class="rechteck-155-jlfVYS"></div>
        <img class="pfad-284-jlfVYS" src="img/pfad-284-1@1x.png" />
        <img class="pfad-285-jlfVYS" src="img/pfad-285-6@1x.png" />
      </div>
      <img class="rechteck-157-Gd4xtk" src="img/rechteck-157-1@1x.png" />
      <div class="iconfinder_scissor_s-Gd4xtk">
        <img class="pfad-273-UyFbAG" src="img/pfad-273-1@1x.png" />
        <img class="pfad-274-UyFbAG" src="img/pfad-274-1@1x.png" />
        <img class="pfad-275-UyFbAG" src="img/pfad-275@1x.png" />
        <img class="pfad-276-UyFbAG" src="img/pfad-276-1@1x.png" />
      </div>
      <div class="iconfinder_4265038_b-Gd4xtk">
        <div class="ellipse-41-937Nzx"></div>
        <img class="pfad-286-937Nzx" src="img/pfad-286@1x.png" />
      </div>
      <a href="https://borbus-shop.com/"
        ><div class="home-Gd4xtk hiraginomarugothicpron-w4-normal-black-18px bp4-animate-enter" show-on-scroll>
          Home
        </div>
      </a>
      <div class="shop-Gd4xtk hiraginomarugothicpron-w4-normal-black-18px bp4-animate-enter1" show-on-scroll>Shop</div>
      <a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-Gd4xtk bp4-animate-enter2" show-on-scroll>
          <div class="ber-borbus-nU9vw4 hiraginomarugothicpron-w4-normal-black-18px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/"
        ><div class="borbus-Gd4xtk hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="gruppe-163-Gd4xtk bp4-animate-enter3" show-on-scroll>
        <div class="rechteck-90-5rQjvh"></div>
        <div class="gruppe-364-5rQjvh">
          <div class="exklusive-serviceleistungen-fLXpdr hiraginomarugothicpron-w4-normal-swirl-24px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-fLXpdr">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-rckversand-frei-MraphH hiraginomarugothicpron-w4-normal-swirl-15px">
                Versand &amp; Rückversand frei
              </div> </a
            ><img class="truck-MraphH" src="img/pfad-179-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-367-5rQjvh">
          <div class="knnen-wir-helfen-aRYaF2 hiraginomarugothicpron-w4-normal-swirl-24px">Können wir helfen?</div>
          <div class="gruppe-365-aRYaF2">
            <a href="https://borbus-shop.com/kontakt">
              <div class="gruppe-140-Hc2lnf">
                <a href="https://borbus-shop.com/kontakt" onclick="window.event.stopPropagation()"
                  ><div class="kontakt-Kf5XxX hiraginomarugothicpron-w4-normal-swirl-15px">Kontakt</div>
                </a>
              </div></a
            ><img class="contact-Hc2lnf" src="img/contact@1x.png" />
          </div>
          <div class="gruppe-366-aRYaF2">
            <a href="https://borbus-shop.com/zahlungsoptionen">
              <div class="gruppe-141-jhy7ar">
                <div class="zahlungsoptionen-j2krjp hiraginomarugothicpron-w4-normal-swirl-15px">Zahlungsoptionen</div>
              </div></a
            ><img class="money-jhy7ar" src="img/money-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-372-5rQjvh">
          <div class="besuche-uns-a0qVxa hiraginomarugothicpron-w4-normal-swirl-24px">Besuche Uns</div>
          <a href="https://www.instagram.com/borbus_shop/" target="_blank">
            <div class="gruppe-320-a0qVxa">
              <div class="gruppe-162-vYt66a">
                <a
                  href="https://www.instagram.com/borbus_shop/"
                  onclick="window.event.stopPropagation()"
                  target="_blank"
                  ><div class="instagram-DWYn4D hiraginomarugothicpron-w4-normal-swirl-15px">Instagram</div>
                </a>
              </div>
              <img class="icon-instagram-vYt66a" src="img/instagram-sketched-10@1x.png" /></div
          ></a>
        </div>
      </div>
      <img class="ssl-Gd4xtk bp4-animate-enter4" show-on-scroll src="img/ssl-10@1x.png" />
      <div class="gruppe-554-Gd4xtk">
        <div class="gruppe-371-zh3MHD">
          <div class="das-unternehmen-E5S4y3 hiraginomarugothicpron-w4-normal-swirl-24px">Das Unternehmen</div>
          <div class="gruppe-370-E5S4y3">
            <div class="gruppe-154-7mwgGI">
              <div class="gruppe-159-IlSXe9">
                <div class="ellipse-25-08rOr0"></div>
                <div class="i-08rOr0 hiraginomarugothicpron-w4-normal-black-12px">i</div>
              </div>
            </div>
          </div>
          <div class="gruppe-160-E5S4y3">
            <a href="https://borbus-shop.com/ueberborbus">
              <div class="gruppe-155-znSFom">
                <div class="gruppe-138-KRlzAY">
                  <div class="ber-borbus-XaeZ4w hiraginomarugothicpron-w4-normal-swirl-15px">Über Borbus</div>
                </div>
              </div></a
            >
            <div class="b-znSFom hiraginominchopron-w6-normal-white-20px">B</div>
          </div>
          <div class="gruppe-368-E5S4y3">
            <div class="gruppe-156-Tl6NUd">
              <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                ><div class="geschfts-und-nutzungs-bediengungen-ckNAxY hiraginomarugothicpron-w4-normal-swirl-15px">
                  Geschäfts- und Nutzungs-<br />bediengungen
                </div>
              </a>
            </div>
            <img class="solid-Tl6NUd" src="img/solid-1@1x.png" />
          </div>
          <div class="gruppe-369-E5S4y3">
            <a href="https://borbus-shop.com/datenschutzerklaerung">
              <div class="gruppe-157-waLvF5">
                <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                  ><div class="datenschutz-cookies-xAhEiN hiraginomarugothicpron-w4-normal-swirl-15px">
                    Datenschutz &amp; Cookies
                  </div>
                </a>
              </div></a
            ><img class="cookie-waLvF5" src="img/cookie-10@1x.png" />
          </div>
        </div>
        <a href="https://borbus-shop.com/impressum"
          ><div class="impressum-zh3MHD hiraginomarugothicpron-w4-normal-swirl-14px">Impressum</div>
        </a>
      </div>
      <div class="gruppe-622-Gd4xtk">
        <div class="gruppe-141-9iddBI">
          <a href="https://borbus-shop.com/nftinfo"
            ><div class="nf-tlink-OOEKyc hiraginomarugothicpron-w4-normal-swirl-15px">NFT</div> </a
          ><img
            class="x498951_child_clothes-OOEKyc"
            src="img/498951-child-clothes-clothing-dress-fabric-icon-1@1x.png"
          />
        </div>
      </div>
      <div class="warenkorb-oben-rechts-Gd4xtk">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-L9RGtt"
          src="img/iconfinder-basket-ecommerce-shop-4177565-2@1x.png"
        />
        <div class="gruppe-579-L9RGtt">
          <div class="ellipse-47-liYsUO"></div>
          <div class="anzahl-warenkorb-liYsUO hiraginominchopron-w3-normal-gallery-15px">1</div>
        </div>
      </div>
      <div class="shopliste-Gd4xtk">
        <lottie-player
          src="https://cdn.animaapp.com/projects/61d47a4909db46373e8d998f/files/5483-loading-circle.json"
          background="transparent"
          speed="1"
          loop
          autoplay
        ></lottie-player>
      </div>
    </div>
    <div class="shop-1200 screen">
      <div class="x24-artikel-1kf0tj hiraginomarugothicpron-w4-normal-black-16px">24 Artikel</div>
      <img class="linie-29-1kf0tj" src="img/linie-29@1x.png" />
      <div class="rechteck-118-1kf0tj"></div>
      <div class="stoffqualitt-1kf0tj hiraginomarugothicpron-w4-normal-black-13px">Stoffqualität</div>
      <div class="handarbeit-1kf0tj hiraginomarugothicpron-w4-normal-black-13px">Handarbeit</div>
      <div class="sichere-bezahlung-1kf0tj hiraginomarugothicpron-w4-normal-black-13px">Sichere Bezahlung</div>
      <div class="gruppe-199-1kf0tj">
        <div class="rechteck-155-V7naxA"></div>
        <img class="pfad-284-V7naxA" src="img/pfad-284-1@1x.png" />
        <img class="pfad-285-V7naxA" src="img/pfad-285-6@1x.png" />
      </div>
      <img class="rechteck-157-1kf0tj" src="img/rechteck-157-1@1x.png" />
      <div class="iconfinder_4265038_b-1kf0tj">
        <div class="ellipse-41-xPD7Vv"></div>
        <img class="pfad-286-xPD7Vv" src="img/pfad-286@1x.png" />
      </div>
      <div class="iconfinder_scissor_s-1kf0tj">
        <img class="pfad-273-jwuh7J" src="img/pfad-273@1x.png" />
        <img class="pfad-274-jwuh7J" src="img/pfad-274@1x.png" />
        <img class="pfad-275-jwuh7J" src="img/pfad-275@1x.png" />
        <img class="pfad-276-jwuh7J" src="img/pfad-273@1x.png" />
      </div>
      <a href="https://borbus-shop.com/index"
        ><div class="home-1kf0tj hiraginomarugothicpron-w4-normal-black-18px bp3-animate-enter" show-on-scroll>
          Home
        </div>
      </a>
      <div class="shop-1kf0tj hiraginomarugothicpron-w4-normal-black-18px bp3-animate-enter1" show-on-scroll>Shop</div>
      <a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-1kf0tj bp3-animate-enter2" show-on-scroll>
          <div class="ber-borbus-zKtTSc hiraginomarugothicpron-w4-normal-black-18px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/"
        ><div class="borbus-1kf0tj hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="gruppe-322-1kf0tj">
        <div class="gruppe-163-gaytia bp3-animate-enter3">
          <div class="rechteck-90-MgwCQX"></div>
          <div class="exklusive-serviceleistungen-MgwCQX hiraginomarugothicpron-w4-normal-swirl-22px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-MgwCQX">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-frei-DoHnjp hiraginomarugothicpron-w4-normal-swirl-14px">Versand frei</div> </a
            ><img class="truck-DoHnjp" src="img/pfad-179-10@1x.png" />
          </div>
          <div class="gruppe-341-MgwCQX">
            <div class="knnen-wir-helfen-t0aI5a hiraginomarugothicpron-w4-normal-swirl-22px">Können wir helfen?</div>
            <div class="gruppe-339-t0aI5a">
              <a href="https://borbus-shop.com/kontakt">
                <div class="gruppe-140-Pu9lK5">
                  <a href="https://borbus-shop.com/kontakt" onclick="window.event.stopPropagation()"
                    ><div class="kontakt-iVwNj6 hiraginomarugothicpron-w4-normal-swirl-14px">Kontakt</div>
                  </a>
                </div></a
              ><img class="contact-Pu9lK5" src="img/contact@1x.png" />
            </div>
            <div class="gruppe-340-t0aI5a">
              <a href="https://borbus-shop.com/zahlungsoptionen">
                <div class="gruppe-141-V9WBja">
                  <div class="zahlungsoptionen-ZvL9cT hiraginomarugothicpron-w4-normal-swirl-14px">
                    Zahlungsoptionen
                  </div>
                </div></a
              ><img class="money-V9WBja" src="img/money-10@1x.png" />
            </div>
            <div class="gruppe-623-t0aI5a">
              <div class="gruppe-141-y6XW1T">
                <a href="https://borbus-shop.com/nftinfo"
                  ><div class="nft-io0wwt hiraginomarugothicpron-w4-normal-swirl-14px">NFT</div>
                </a>
                <div class="gruppe-622-io0wwt">
                  <div class="gruppe-141-UMVRyr">
                    <img
                      class="x498951_child_clothes-pVuTdk"
                      src="img/498951-child-clothes-clothing-dress-fabric-icon-1@1x.png"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="gruppe-345-MgwCQX">
            <div class="das-unternehmen-qm4mgy hiraginomarugothicpron-w4-normal-swirl-22px">Das Unternehmen</div>
            <div class="gruppe-344-qm4mgy">
              <a href="https://borbus-shop.com/impressum">
                <div class="gruppe-158-L47TR5">
                  <a href="https://borbus-shop.com/impressum" onclick="window.event.stopPropagation()"
                    ><div class="impressum-FVy0PT hiraginomarugothicpron-w4-normal-swirl-15px">Impressum</div>
                  </a>
                </div></a
              >
              <div class="gruppe-154-L47TR5">
                <div class="gruppe-159-Q1ueo2">
                  <div class="ellipse-25-xxkP7Z"></div>
                  <div class="i-xxkP7Z hiraginomarugothicpron-w4-normal-black-12px">i</div>
                </div>
              </div>
            </div>
            <div class="gruppe-160-qm4mgy">
              <a href="https://borbus-shop.com/ueberborbus">
                <div class="gruppe-155-rt1lna">
                  <div class="gruppe-138-uFtl1p">
                    <a href="https://borbus-shop.com/ueberborbus" onclick="window.event.stopPropagation()"
                      ><div class="ber-borbus-4FxpQU hiraginomarugothicpron-w4-normal-swirl-15px">Über Borbus</div>
                    </a>
                  </div>
                </div></a
              >
              <div class="b-rt1lna hiraginominchopron-w6-normal-white-20px">B</div>
            </div>
            <div class="gruppe-342-qm4mgy">
              <div class="gruppe-156-pyxLKh">
                <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                  ><div class="geschfts-und-nutzungsbediengungen-r3f1p6 hiraginomarugothicpron-w4-normal-swirl-15px">
                    Geschäfts- und <br />Nutzungsbediengungen
                  </div>
                </a>
              </div>
              <img class="solid-pyxLKh" src="img/solid-1@1x.png" />
            </div>
            <div class="gruppe-343-qm4mgy">
              <a href="https://borbus-shop.com/datenschutzerklaerung">
                <div class="gruppe-157-mxQrEZ">
                  <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                    ><div class="datenschutz-cookies-GybTts hiraginomarugothicpron-w4-normal-swirl-15px">
                      Datenschutz &amp; Cookies
                    </div>
                  </a>
                </div></a
              ><img class="cookie-mxQrEZ" src="img/cookie-10@1x.png" />
            </div>
          </div>
          <div class="gruppe-346-MgwCQX">
            <div class="besuche-uns-EvsxIL hiraginomarugothicpron-w4-normal-swirl-22px">Besuche Uns</div>
            <a href="https://www.instagram.com/borbus_shop/" target="_blank">
              <div class="gruppe-321-EvsxIL">
                <div class="gruppe-162-STmPk5">
                  <div class="instagram-pnXQBC hiraginomarugothicpron-w4-normal-swirl-15px">Instagram</div>
                </div>
                <img class="icon-instagram-STmPk5" src="img/instagram-sketched-10@1x.png" /></div
            ></a>
          </div>
        </div>
        <img class="ssl-gaytia bp3-animate-enter4" src="img/ssl-10@1x.png" />
      </div>
      <div class="warenkorb-oben-rechts-1kf0tj">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-Jfbjta"
          src="img/iconfinder-basket-ecommerce-shop-4177565-2@1x.png"
        />
        <div class="gruppe-579-Jfbjta">
          <div class="ellipse-47-maiGRr"></div>
          <div class="anzahl-warenkorb-maiGRr hiraginominchopron-w3-normal-gallery-15px">1</div>
        </div>
      </div>
      <div class="shopliste-1kf0tj">
        <lottie-player
          src="https://cdn.animaapp.com/projects/61d47a4909db46373e8d998f/files/5483-loading-circle.json"
          background="transparent"
          speed="1"
          loop
          autoplay
        ></lottie-player>
      </div>
    </div>
    <div class="shop-767 screen">
      <div class="x24-artikel-PWMKzL hiraginomarugothicpron-w4-normal-black-16px">24 Artikel</div>
      <img class="linie-29-PWMKzL" src="img/linie-29@1x.png" />
      <div class="rechteck-118-PWMKzL"></div>
      <div class="stoffqualitt-PWMKzL hiraginomarugothicpron-w4-normal-black-13px">Stoffqualität</div>
      <div class="handarbeit-PWMKzL hiraginomarugothicpron-w4-normal-black-13px">Handarbeit</div>
      <div class="sichere-bezahlung-PWMKzL hiraginomarugothicpron-w4-normal-black-13px">Sichere Bezahlung</div>
      <div class="gruppe-199-PWMKzL">
        <div class="rechteck-155-C3SYAh"></div>
        <img class="pfad-284-C3SYAh" src="img/pfad-284-1@1x.png" />
        <img class="pfad-285-C3SYAh" src="img/pfad-285@1x.png" />
      </div>
      <img class="rechteck-157-PWMKzL" src="img/rechteck-157-1@1x.png" />
      <div class="iconfinder_4265038_b-PWMKzL">
        <div class="ellipse-41-7Du5mI"></div>
        <img class="pfad-286-7Du5mI" src="img/pfad-286@1x.png" />
      </div>
      <div class="iconfinder_scissor_s-PWMKzL">
        <img class="pfad-273-AXLxzZ" src="img/pfad-273@1x.png" />
        <img class="pfad-274-AXLxzZ" src="img/pfad-274@1x.png" />
        <img class="pfad-275-AXLxzZ" src="img/pfad-275@1x.png" />
        <img class="pfad-276-AXLxzZ" src="img/pfad-273@1x.png" />
      </div>
      <a href="https://borbus-shop.com/"
        ><div class="home-PWMKzL hiraginomarugothicpron-w4-normal-black-18px bp2-animate-enter" show-on-scroll>
          Home
        </div>
      </a>
      <div class="shop-PWMKzL hiraginomarugothicpron-w4-normal-black-18px bp2-animate-enter1" show-on-scroll>Shop</div>
      <a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-PWMKzL bp2-animate-enter2" show-on-scroll>
          <div class="ber-borbus-U6BWHc hiraginomarugothicpron-w4-normal-black-18px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/"
        ><div class="borbus-PWMKzL hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="gruppe-163-PWMKzL bp2-animate-enter3">
        <div class="rechteck-90-vOsjfE"></div>
        <div class="gruppe-347-vOsjfE">
          <div class="exklusive-serviceleistungen-qiXbpf hiraginomarugothicpron-w4-normal-swirl-16px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-qiXbpf">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-frei-gFDPL9 hiraginomarugothicpron-w4-normal-swirl-14px">Versand frei</div> </a
            ><img class="truck-gFDPL9" src="img/pfad-179-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-350-vOsjfE">
          <div class="knnen-wir-helfen-mK28vB hiraginomarugothicpron-w4-normal-swirl-16px">Können wir helfen?</div>
          <div class="gruppe-348-mK28vB">
            <div class="gruppe-140-AxX3FC">
              <a href="https://borbus-shop.com/kontakt"
                ><div class="kontakt-7D2BxJ hiraginomarugothicpron-w4-normal-swirl-14px">Kontakt</div>
              </a>
            </div>
            <img class="contact-AxX3FC" src="img/contact@1x.png" />
          </div>
          <div class="gruppe-349-mK28vB">
            <a href="https://borbus-shop.com/zahlungsoptionen">
              <div class="gruppe-141-08kDPQ">
                <div class="zahlungsoptionen-9QlHfh hiraginomarugothicpron-w4-normal-swirl-14px">Zahlungsoptionen</div>
              </div></a
            ><img class="money-08kDPQ" src="img/money-10@1x.png" />
          </div>
          <div class="gruppe-623-mK28vB">
            <div class="gruppe-141-4qj6cx">
              <a href="https://borbus-shop.com/nftinfo"
                ><div class="nft-xWqlW3 hiraginomarugothicpron-w4-normal-swirl-14px">NFT</div>
              </a>
              <div class="gruppe-622-xWqlW3">
                <div class="gruppe-141-Ixz9vP">
                  <img
                    class="x498951_child_clothes-rFagOH"
                    src="img/498951-child-clothes-clothing-dress-fabric-icon-1@1x.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gruppe-354-vOsjfE">
          <div class="das-unternehmen-PNkMgR hiraginomarugothicpron-w4-normal-swirl-16px">Das Unternehmen</div>
          <div class="gruppe-353-PNkMgR">
            <a href="https://borbus-shop.com/impressum">
              <div class="gruppe-158-yJ6wqn">
                <a href="https://borbus-shop.com/impressum" onclick="window.event.stopPropagation()"
                  ><div class="impressum-FqzneL hiraginomarugothicpron-w4-normal-swirl-15px">Impressum</div>
                </a>
              </div></a
            >
            <div class="gruppe-154-yJ6wqn">
              <div class="gruppe-159-djkuw7">
                <div class="ellipse-25-KmvwAS"></div>
                <div class="i-KmvwAS hiraginomarugothicpron-w4-normal-black-12px">i</div>
              </div>
            </div>
          </div>
          <div class="gruppe-160-PNkMgR">
            <div class="gruppe-155-xs5k4w">
              <div class="gruppe-138-KgOXer">
                <a href="https://borbus-shop.com/ueberborbus"
                  ><div class="ber-borbus-pw5ScZ hiraginomarugothicpron-w4-normal-swirl-15px">Über Borbus</div>
                </a>
              </div>
            </div>
            <div class="b-xs5k4w hiraginominchopron-w6-normal-white-20px">B</div>
          </div>
          <div class="gruppe-351-PNkMgR">
            <div class="gruppe-156-08B1vD">
              <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                ><div class="geschfts-und-nutzungsbediengungen-YoJXOY hiraginomarugothicpron-w4-normal-swirl-15px">
                  Geschäfts- und <br />Nutzungsbediengungen
                </div>
              </a>
            </div>
            <img class="solid-08B1vD" src="img/solid-1@1x.png" />
          </div>
          <div class="gruppe-352-PNkMgR">
            <a href="https://borbus-shop.com/datenschutzerklaerung">
              <div class="gruppe-157-SN8BNT">
                <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                  ><div class="datenschutz-cookies-DjAsny hiraginomarugothicpron-w4-normal-swirl-15px">
                    Datenschutz &amp; Cookies
                  </div>
                </a>
              </div></a
            ><img class="cookie-SN8BNT" src="img/cookie-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-355-vOsjfE">
          <div class="besuche-uns-hZrg52 hiraginomarugothicpron-w4-normal-swirl-16px">Besuche Uns</div>
          <a href="https://www.instagram.com/borbus_shop/">
            <div class="gruppe-323-hZrg52">
              <div class="gruppe-162-d77VI6">
                <div class="instagram-ZkPbYU hiraginomarugothicpron-w4-normal-swirl-15px">Instagram</div>
              </div>
              <img class="icon-instagram-d77VI6" src="img/instagram-sketched-10@1x.png" /></div
          ></a>
        </div>
      </div>
      <img class="ssl-PWMKzL bp2-animate-enter4" src="img/ssl-10@1x.png" />
      <div class="warenkorb-oben-rechts-PWMKzL">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-gDigbv"
          src="img/iconfinder-basket-ecommerce-shop-4177565-2@1x.png"
        />
        <div class="gruppe-579-gDigbv">
          <div class="ellipse-47-1gn1df"></div>
          <div class="anzahl-warenkorb-1gn1df hiraginominchopron-w3-normal-gallery-15px">1</div>
        </div>
      </div>
      <div class="shopliste-PWMKzL">
        <lottie-player
          src="https://cdn.animaapp.com/projects/61d47a4909db46373e8d998f/files/5483-loading-circle.json"
          background="transparent"
          speed="1"
          loop
          autoplay
        ></lottie-player>
      </div>
    </div>
    <div class="shop-375 screen">
      <div class="x24-artikel-QJyBHd hiraginomarugothicpron-w4-normal-black-10px">24 Artikel</div>
      <div class="gruppe-293-QJyBHd"><img class="linie-29-iLbnhF" src="img/linie-29@1x.png" /></div>
      <a href="https://borbus-shop.com/">
        <div class="gruppe-293-1KXxvC">
          <div class="home-Sxcxap hiraginomarugothicpron-w4-normal-black-16px bp1-animate-enter" show-on-scroll>
            Home
          </div>
        </div></a
      >
      <div class="shop-QJyBHd hiraginomarugothicpron-w4-normal-black-16px bp1-animate-enter1" show-on-scroll>Shop</div>
      <a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-QJyBHd bp1-animate-enter2" show-on-scroll>
          <div class="ber-borbus-vXuBwb hiraginomarugothicpron-w4-normal-black-16px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/"
        ><div class="borbus-QJyBHd hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="rechteck-118-QJyBHd"></div>
      <div class="gruppe-546-QJyBHd">
        <div class="sichere-bezahlung-7cYXhT hiraginomarugothicpron-w4-normal-black-10px">Sichere Bezahlung</div>
        <div class="gruppe-199-7cYXhT">
          <div class="rechteck-155-CHKH5j"></div>
          <img class="pfad-284-CHKH5j" src="img/pfad-284-1@1x.png" />
          <img class="pfad-285-CHKH5j" src="img/pfad-285-6@1x.png" />
        </div>
      </div>
      <div class="gruppe-548-QJyBHd">
        <div class="stoffqualitt-NLxav2 hiraginomarugothicpron-w4-normal-black-10px">Stoffqualität</div>
        <div class="iconfinder_4265038_b-NLxav2">
          <div class="ellipse-41-4Wdvxx"></div>
          <img class="pfad-286-4Wdvxx" src="img/pfad-286@1x.png" />
        </div>
      </div>
      <div class="gruppe-547-QJyBHd">
        <div class="handarbeit-3IYdK1 hiraginomarugothicpron-w4-normal-black-10px">Handarbeit</div>
        <div class="iconfinder_scissor_s-3IYdK1">
          <img class="pfad-273-x7KTbX" src="img/pfad-273@1x.png" />
          <img class="pfad-274-x7KTbX" src="img/pfad-274@1x.png" />
          <img class="pfad-275-x7KTbX" src="img/pfad-275@1x.png" />
          <img class="pfad-276-x7KTbX" src="img/pfad-273@1x.png" />
        </div>
      </div>
      <div class="gruppe-327-QJyBHd">
        <div class="rechteck-90-lodONo"></div>
        <div class="gruppe-356-lodONo">
          <div class="exklusive-serviceleistungen-Por81C hiraginomarugothicpron-w4-normal-swirl-10px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-Por81C">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-frei-gypiHD hiraginomarugothicpron-w4-normal-swirl-10px">Versand frei</div> </a
            ><img class="truck-gypiHD" src="img/pfad-179-3@1x.png" />
          </div>
        </div>
        <div class="gruppe-359-lodONo">
          <div class="knnen-wir-helfen-QtMfKn hiraginomarugothicpron-w4-normal-swirl-10px">Können wir helfen?</div>
          <div class="gruppe-357-QtMfKn">
            <div class="gruppe-140-DQoAF2">
              <a href="https://borbus-shop.com/kontakt"
                ><div class="kontakt-9yg1ML hiraginomarugothicpron-w4-normal-swirl-10px">Kontakt</div>
              </a>
            </div>
            <img class="contact-DQoAF2" src="img/contact-3@1x.png" />
          </div>
          <div class="gruppe-358-QtMfKn">
            <div class="gruppe-141-218Tcj">
              <a href="https://borbus-shop.com/zahlungsoptionen"
                ><div class="zahlungsoptionen-RLEp0G hiraginomarugothicpron-w4-normal-swirl-10px">Zahlungsoptionen</div>
              </a>
            </div>
            <img class="money-218Tcj" src="img/money-3-1x-png@1x.png" />
          </div>
          <div class="gruppe-623-QtMfKn">
            <div class="gruppe-141-xAXyxd">
              <a href="https://borbus-shop.com/nftinfo"
                ><div class="nft-8qRrgr hiraginomarugothicpron-w4-normal-swirl-10px">NFT</div>
              </a>
              <div class="gruppe-622-8qRrgr">
                <div class="gruppe-141-LVxNxY">
                  <img
                    class="x498951_child_clothes-loCV1D"
                    src="img/498951-child-clothes-clothing-dress-fabric-icon-3-1x-png@1x.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gruppe-363-lodONo">
          <div class="das-unternehmen-27pHgv hiraginomarugothicpron-w4-normal-swirl-10px">Das Unternehmen</div>
          <div class="gruppe-362-27pHgv">
            <a href="https://borbus-shop.com/impressum">
              <div class="gruppe-158-545vzB">
                <a href="https://borbus-shop.com/impressum" onclick="window.event.stopPropagation()"
                  ><div class="impressum-dyaNxy hiraginomarugothicpron-w4-normal-swirl-10px">Impressum</div>
                </a>
              </div></a
            >
            <div class="gruppe-154-545vzB">
              <div class="gruppe-159-6nU3QE">
                <div class="ellipse-25-vmA2hx"></div>
                <div class="i-vmA2hx hiraginomarugothicpron-w4-normal-black-8px">i</div>
              </div>
            </div>
          </div>
          <div class="gruppe-160-27pHgv">
            <div class="gruppe-155-R2Exn9">
              <div class="gruppe-138-SxcVtT">
                <a href="https://borbus-shop.com/ueberborbus"
                  ><div class="ber-borbus-vSF0ax hiraginomarugothicpron-w4-normal-swirl-10px">Über Borbus</div>
                </a>
              </div>
            </div>
            <div class="b-R2Exn9 hiraginominchopron-w6-normal-white-15px">B</div>
          </div>
          <div class="gruppe-361-27pHgv">
            <div class="gruppe-156-M3J6YP">
              <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                ><div class="geschftsbedien-gungen-LixGOa hiraginomarugothicpron-w4-normal-swirl-10px">
                  Geschäftsbedien-<br />gungen
                </div>
              </a>
            </div>
            <img class="solid-M3J6YP" src="img/solid-6@1x.png" />
          </div>
          <div class="gruppe-360-27pHgv">
            <a href="https://borbus-shop.com/datenschutzerklaerung">
              <div class="gruppe-157-wAKps8">
                <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                  ><div class="datenschutz-WbOtF3 hiraginomarugothicpron-w4-normal-swirl-10px">Datenschutz</div>
                </a>
              </div></a
            ><img class="cookie-wAKps8" src="img/cookie-3-1x-png@1x.png" />
          </div>
        </div>
        <a href="https://www.instagram.com/borbus_shop/" target="_blank">
          <div class="gruppe-325-lodONo">
            <a href="https://www.instagram.com/borbus_shop/" onclick="window.event.stopPropagation()">
              <div class="gruppe-162-5GSSOl">
                <div class="folge-uns-auf-instagram-V094po hiraginomarugothicpron-w4-normal-swirl-10px">
                  Folge uns auf Instagram
                </div>
              </div></a
            ><img class="icon-instagram-5GSSOl" src="img/instagram-sketched-10@1x.png" /></div></a
        ><img class="ssl-lodONo bp1-animate-enter3" src="img/ssl-10@1x.png" />
      </div>
      <div class="warenkorb-oben-rechts-QJyBHd">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-ip9J2K"
          src="img/iconfinder-basket-ecommerce-shop-4177565-3-1x-png@1x.png"
        />
        <div class="gruppe-579-ip9J2K">
          <div class="ellipse-47-YQCmon"></div>
          <div class="anzahl-warenkorb-YQCmon hiraginominchopron-w3-normal-gallery-9px">1</div>
        </div>
      </div>
      <div class="shopliste-QJyBHd">
        <lottie-player
          src="https://cdn.animaapp.com/projects/61d47a4909db46373e8d998f/files/5483-loading-circle.json"
          background="transparent"
          speed="1"
          loop
          autoplay
        ></lottie-player>
      </div>
    </div>
    <script>
      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>

    {% expose items %}
  </body>

</html>
