<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--<meta name=description content="This site was generated with Anima. www.animaapp.com"/>-->
    <link rel="shortcut icon" type=image/png href=https://animaproject.s3.amazonaws.com/home/favicon.png/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="shortcut icon" href="./img/favicon.png" />
    <title>Borbus Shop</title>
    <meta
      name="description"
      content="Eine von Kinderlachen inspirierte Kollektion, die die Unbeschwertheit des Lebens verkörpert."
    />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Borbus Shop" />
    <meta name="og:title" content="Borbus Shop" />
    <meta
      name="og:description"
      content="Eine von Kinderlachen inspirierte Kollektion, die die Unbeschwertheit des Lebens verkörpert."
    />
    <meta name="og:image" content="./img/bildschirmfoto-2022-03-10-um-12-13-54.png" />
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content="Borbus Shop" />
    <meta
      name="twitter:description"
      content="Eine von Kinderlachen inspirierte Kollektion, die die Unbeschwertheit des Lebens verkörpert."
    />
    <meta name="twitter:image:width" content="320px" />
    <meta name="twitter:image:height" content="320px" />
    <meta name="twitter:image:src" content="./img/bildschirmfoto-2022-03-10-um-12-13-54.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="Borbus Shop" />
    <link rel="stylesheet" type="text/css" href="css/shop-375-1-all-breakpoints.css" />
    <style></style>
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="shop-375-1-all-breakpoints" />
    <div class="shop-1 screen">
      <div class="x24-artikel-l3Nxhj hiraginomarugothicpron-w4-normal-black-16px">24 Artikel</div>
      <img class="linie-29-l3Nxhj" src="img/linie-29-1@1x.png" />
      <div class="rechteck-118-l3Nxhj"></div>
      <div class="stoffqualitt-l3Nxhj hiraginomarugothicpron-w4-normal-black-13px">Stoffqualität</div>
      <div class="handarbeit-l3Nxhj hiraginomarugothicpron-w4-normal-black-13px">Handarbeit</div>
      <div class="sichere-bezahlung-l3Nxhj hiraginomarugothicpron-w4-normal-black-13px">Sichere Bezahlung</div>
      <div class="shopliste-l3Nxhj">
        <div class="rechteck-155-KFZAEw"></div>
        <img class="pfad-284-KFZAEw" src="img/pfad-284-1@1x.png" />
        <img class="pfad-285-KFZAEw" src="img/pfad-285-6@1x.png" />
      </div>
      <img class="rechteck-157-l3Nxhj" src="img/rechteck-157-1@1x.png" />
      <div class="iconfinder_scissor_s-l3Nxhj">
        <img class="pfad-273-1Q3AVR" src="img/pfad-273-1x-png@1x.png" />
        <img class="pfad-274-1Q3AVR" src="img/pfad-274@1x.png" />
        <img class="pfad-275-1Q3AVR" src="img/pfad-275-1@1x.png" />
        <img class="pfad-276-1Q3AVR" src="img/pfad-276-1@1x.png" />
      </div>
      <div class="iconfinder_4265038_b-l3Nxhj">
        <div class="ellipse-41-kpX2ex"></div>
        <img class="pfad-286-kpX2ex" src="img/pfad-286@1x.png" />
      </div>
      <a href="https://borbus-shop.com/"
        ><div class="home-l3Nxhj hiraginomarugothicpron-w4-normal-black-18px bp1-animate-enter35" show-on-scroll>
          Home
        </div>
      </a>
      <div class="shop-l3Nxhj hiraginomarugothicpron-w4-normal-black-18px bp1-animate-enter36" show-on-scroll>Shop</div>
      <a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-l3Nxhj bp1-animate-enter37" show-on-scroll>
          <div class="ber-borbus-8uMVYN hiraginomarugothicpron-w4-normal-black-18px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/"
        ><div class="borbus-l3Nxhj hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="gruppe-163-l3Nxhj bp1-animate-enter38" show-on-scroll>
        <div class="rechteck-90-wYsXun"></div>
        <div class="gruppe-364-wYsXun">
          <div class="exklusive-serviceleistungen-31xqUf hiraginomarugothicpron-w4-normal-swirl-24px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-31xqUf">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-rckversand-frei-Rk8uy9 hiraginomarugothicpron-w4-normal-swirl-15px">
                Versand &amp; Rückversand frei
              </div> </a
            ><img class="truck-Rk8uy9" src="img/pfad-179-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-367-wYsXun">
          <div class="knnen-wir-helfen-M3Yy6R hiraginomarugothicpron-w4-normal-swirl-24px">Können wir helfen?</div>
          <div class="gruppe-365-M3Yy6R">
            <a href="https://borbus-shop.com/kontakt">
              <div class="gruppe-140-u23ahK">
                <a href="https://borbus-shop.com/kontakt" onclick="window.event.stopPropagation()"
                  ><div class="kontakt-aFytad hiraginomarugothicpron-w4-normal-swirl-15px">Kontakt</div>
                </a>
              </div></a
            ><img class="contact-u23ahK" src="img/contact-14@1x.png" />
          </div>
          <div class="gruppe-366-M3Yy6R">
            <a href="https://borbus-shop.com/zahlungsoptionen">
              <div class="gruppe-141-f1ilj5">
                <div class="zahlungsoptionen-bxGNVr hiraginomarugothicpron-w4-normal-swirl-15px">Zahlungsoptionen</div>
              </div></a
            ><img class="money-f1ilj5" src="img/money-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-372-wYsXun">
          <div class="besuche-uns-jdBABp hiraginomarugothicpron-w4-normal-swirl-24px">Besuche Uns</div>
          <a href="https://www.instagram.com/borbus_shop/" target="_blank">
            <div class="gruppe-320-jdBABp">
              <div class="gruppe-162-krWDPq">
                <a
                  href="https://www.instagram.com/borbus_shop/"
                  onclick="window.event.stopPropagation()"
                  target="_blank"
                  ><div class="instagram-Y6LdqL hiraginomarugothicpron-w4-normal-swirl-15px">Instagram</div>
                </a>
              </div>
              <img class="icon-instagram-krWDPq" src="img/instagram-sketched-10@1x.png" /></div
          ></a>
        </div>
      </div>
      <img class="ssl-l3Nxhj bp1-animate-enter39" show-on-scroll src="img/ssl-10@1x.png" />
      <div class="gruppe-554-l3Nxhj">
        <div class="gruppe-371-hwDcjn">
          <div class="das-unternehmen-3aCr57 hiraginomarugothicpron-w4-normal-swirl-24px">Das Unternehmen</div>
          <div class="gruppe-370-3aCr57">
            <div class="gruppe-154-5lkhW9">
              <div class="gruppe-159-KjARnt">
                <div class="ellipse-25-Pnlibl"></div>
                <div class="i-Pnlibl hiraginomarugothicpron-w4-normal-black-12px">i</div>
              </div>
            </div>
          </div>
          <div class="gruppe-160-3aCr57">
            <a href="https://borbus-shop.com/ueberborbus">
              <div class="gruppe-155-Y6ht1J">
                <div class="gruppe-138-JaEniB">
                  <div class="ber-borbus-B3GNOk hiraginomarugothicpron-w4-normal-swirl-15px">Über Borbus</div>
                </div>
              </div></a
            >
            <div class="b-Y6ht1J hiraginominchopron-w6-normal-white-20px">B</div>
          </div>
          <div class="gruppe-368-3aCr57">
            <div class="gruppe-156-sxAESY">
              <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                ><div class="geschfts-und-nutzungs-bediengungen-PMxbzz hiraginomarugothicpron-w4-normal-swirl-15px">
                  Geschäfts- und Nutzungs-<br />bediengungen
                </div>
              </a>
            </div>
            <img class="solid-sxAESY" src="img/solid-28@1x.png" />
          </div>
          <div class="gruppe-369-3aCr57">
            <a href="https://borbus-shop.com/datenschutzerklaerung">
              <div class="gruppe-157-WzR7o9">
                <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                  ><div class="datenschutz-cookies-Ez2U1n hiraginomarugothicpron-w4-normal-swirl-15px">
                    Datenschutz &amp; Cookies
                  </div>
                </a>
              </div></a
            ><img class="cookie-WzR7o9" src="img/cookie-10@1x.png" />
          </div>
        </div>
        <a href="https://borbus-shop.com/impressum"
          ><div class="impressum-hwDcjn hiraginomarugothicpron-w4-normal-swirl-14px">Impressum</div>
        </a>
      </div>
      <div class="warenkorb-oben-rechts-l3Nxhj">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-Ow6Usz"
          src="img/iconfinder-basket-ecommerce-shop-4177565@1x.png"
        />
        <div class="gruppe-579-Ow6Usz">
          <div class="ellipse-47-0Df5gL"></div>
          <div class="anzahl-warenkorb-0Df5gL hiraginominchopron-w3-normal-gallery-15px">1</div>
        </div>
      </div>
      <div class="rechteck-182-l3Nxhj"></div>
    </div>
    <div class="shop-1200-1 screen">
      <div class="x24-artikel-ARMkGV hiraginomarugothicpron-w4-normal-black-16px">24 Artikel</div>
      <img class="linie-29-ARMkGV" src="img/linie-29@1x.png" />
      <div class="rechteck-118-ARMkGV"></div>
      <div class="stoffqualitt-ARMkGV hiraginomarugothicpron-w4-normal-black-13px">Stoffqualität</div>
      <div class="handarbeit-ARMkGV hiraginomarugothicpron-w4-normal-black-13px">Handarbeit</div>
      <div class="sichere-bezahlung-ARMkGV hiraginomarugothicpron-w4-normal-black-13px">Sichere Bezahlung</div>
      <div class="gruppe-199-ARMkGV">
        <div class="rechteck-155-MUpjLA"></div>
        <img class="pfad-284-MUpjLA" src="img/pfad-284-1@1x.png" />
        <img class="pfad-285-MUpjLA" src="img/pfad-285@1x.png" />
      </div>
      <img class="rechteck-157-ARMkGV" src="img/rechteck-157-1@1x.png" />
      <div class="iconfinder_4265038_b-ARMkGV">
        <div class="ellipse-41-lxxKqw"></div>
        <img class="pfad-286-lxxKqw" src="img/pfad-286@1x.png" />
      </div>
      <div class="iconfinder_scissor_s-ARMkGV">
        <img class="pfad-273-eJNnIK" src="img/pfad-273@1x.png" />
        <img class="pfad-274-eJNnIK" src="img/pfad-274@1x.png" />
        <img class="pfad-275-eJNnIK" src="img/pfad-275@1x.png" />
        <img class="pfad-276-eJNnIK" src="img/pfad-273@1x.png" />
      </div>
      <a href="https://borbus-shop.com/index"
        ><div class="home-ARMkGV hiraginomarugothicpron-w4-normal-black-18px bp2-animate-enter38" show-on-scroll>
          Home
        </div>
      </a>
      <div class="shop-ARMkGV hiraginomarugothicpron-w4-normal-black-18px bp2-animate-enter39" show-on-scroll>Shop</div>
      <a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-ARMkGV bp2-animate-enter40" show-on-scroll>
          <div class="ber-borbus-9Mtnvu hiraginomarugothicpron-w4-normal-black-18px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/"
        ><div class="borbus-ARMkGV hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="gruppe-322-ARMkGV">
        <div class="gruppe-163-m4Vrgw bp2-animate-enter41">
          <div class="rechteck-90-N2utdT"></div>
          <div class="exklusive-serviceleistungen-N2utdT hiraginomarugothicpron-w4-normal-swirl-22px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-N2utdT">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-frei-4dNe6y hiraginomarugothicpron-w4-normal-swirl-14px">Versand frei</div> </a
            ><img class="truck-4dNe6y" src="img/pfad-179-10@1x.png" />
          </div>
          <div class="gruppe-341-N2utdT">
            <div class="knnen-wir-helfen-FSlaxO hiraginomarugothicpron-w4-normal-swirl-22px">Können wir helfen?</div>
            <div class="gruppe-339-FSlaxO">
              <a href="https://borbus-shop.com/kontakt">
                <div class="gruppe-140-diXN1m">
                  <a href="https://borbus-shop.com/kontakt" onclick="window.event.stopPropagation()"
                    ><div class="kontakt-6vjndY hiraginomarugothicpron-w4-normal-swirl-14px">Kontakt</div>
                  </a>
                </div></a
              ><img class="contact-diXN1m" src="img/contact@1x.png" />
            </div>
            <div class="gruppe-340-FSlaxO">
              <a href="https://borbus-shop.com/zahlungsoptionen">
                <div class="gruppe-141-vhp0Yd">
                  <div class="zahlungsoptionen-o3OkpL hiraginomarugothicpron-w4-normal-swirl-14px">
                    Zahlungsoptionen
                  </div>
                </div></a
              ><img class="money-vhp0Yd" src="img/money@1x.png" />
            </div>
          </div>
          <div class="gruppe-345-N2utdT">
            <div class="das-unternehmen-2YaUKm hiraginomarugothicpron-w4-normal-swirl-22px">Das Unternehmen</div>
            <div class="gruppe-344-2YaUKm">
              <a href="https://borbus-shop.com/impressum">
                <div class="gruppe-158-zP4fqR">
                  <a href="https://borbus-shop.com/impressum" onclick="window.event.stopPropagation()"
                    ><div class="impressum-bBi4xx hiraginomarugothicpron-w4-normal-swirl-15px">Impressum</div>
                  </a>
                </div></a
              >
              <div class="gruppe-154-zP4fqR">
                <div class="gruppe-159-9rivYX">
                  <div class="ellipse-25-UBcwte"></div>
                  <div class="i-UBcwte hiraginomarugothicpron-w4-normal-black-12px">i</div>
                </div>
              </div>
            </div>
            <div class="gruppe-160-2YaUKm">
              <a href="https://borbus-shop.com/ueberborbus">
                <div class="gruppe-155-39hMOS">
                  <div class="gruppe-138-MJ5fnP">
                    <a href="https://borbus-shop.com/ueberborbus" onclick="window.event.stopPropagation()"
                      ><div class="ber-borbus-bk4WK1 hiraginomarugothicpron-w4-normal-swirl-15px">Über Borbus</div>
                    </a>
                  </div>
                </div></a
              >
              <div class="b-39hMOS hiraginominchopron-w6-normal-white-20px">B</div>
            </div>
            <div class="gruppe-342-2YaUKm">
              <div class="gruppe-156-DxFhZq">
                <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                  ><div class="geschfts-und-nutzungsbediengungen-CIEgvH hiraginomarugothicpron-w4-normal-swirl-15px">
                    Geschäfts- und <br />Nutzungsbediengungen
                  </div>
                </a>
              </div>
              <img class="solid-DxFhZq" src="img/solid-2-1x-png@1x.png" />
            </div>
            <div class="gruppe-343-2YaUKm">
              <a href="https://borbus-shop.com/datenschutzerklaerung">
                <div class="gruppe-157-m2KdHD">
                  <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                    ><div class="datenschutz-cookies-SipOea hiraginomarugothicpron-w4-normal-swirl-15px">
                      Datenschutz &amp; Cookies
                    </div>
                  </a>
                </div></a
              ><img class="cookie-m2KdHD" src="img/cookie-10@1x.png" />
            </div>
          </div>
          <div class="gruppe-346-N2utdT">
            <div class="besuche-uns-Lazqvb hiraginomarugothicpron-w4-normal-swirl-22px">Besuche Uns</div>
            <a href="https://www.instagram.com/borbus_shop/" target="_blank">
              <div class="gruppe-321-Lazqvb">
                <div class="gruppe-162-eWjBBy">
                  <div class="instagram-upxK90 hiraginomarugothicpron-w4-normal-swirl-15px">Instagram</div>
                </div>
                <img class="icon-instagram-eWjBBy" src="img/instagram-sketched-10@1x.png" /></div
            ></a>
          </div>
        </div>
        <img class="ssl-m4Vrgw bp2-animate-enter42" src="img/ssl-10@1x.png" />
      </div>
      <div class="warenkorb-oben-rechts-ARMkGV">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-hGrYSD"
          src="img/iconfinder-basket-ecommerce-shop-4177565@1x.png"
        />
        <div class="gruppe-579-hGrYSD">
          <div class="ellipse-47-IODKmy"></div>
          <div class="anzahl-warenkorb-IODKmy hiraginominchopron-w3-normal-gallery-15px">1</div>
        </div>
      </div>
      <div class="shopliste-ARMkGV"></div>
    </div>
    <div class="shop-767-2 screen">
      <div class="x24-artikel-R7vd7x hiraginomarugothicpron-w4-normal-black-16px">24 Artikel</div>
      <img class="linie-29-R7vd7x" src="img/linie-29@1x.png" />
      <div class="rechteck-118-R7vd7x"></div>
      <div class="stoffqualitt-R7vd7x hiraginomarugothicpron-w4-normal-black-13px">Stoffqualität</div>
      <div class="handarbeit-R7vd7x hiraginomarugothicpron-w4-normal-black-13px">Handarbeit</div>
      <div class="sichere-bezahlung-R7vd7x hiraginomarugothicpron-w4-normal-black-13px">Sichere Bezahlung</div>
      <div class="gruppe-199-R7vd7x">
        <div class="rechteck-155-l25MfT"></div>
        <img class="pfad-284-l25MfT" src="img/pfad-284-1@1x.png" />
        <img class="pfad-285-l25MfT" src="img/pfad-285@1x.png" />
      </div>
      <img class="rechteck-157-R7vd7x" src="img/rechteck-157-1@1x.png" />
      <div class="iconfinder_4265038_b-R7vd7x">
        <div class="ellipse-41-rgxDdn"></div>
        <img class="pfad-286-rgxDdn" src="img/pfad-286@1x.png" />
      </div>
      <div class="iconfinder_scissor_s-R7vd7x">
        <img class="pfad-273-NjPh72" src="img/pfad-273@1x.png" />
        <img class="pfad-274-NjPh72" src="img/pfad-274@1x.png" />
        <img class="pfad-275-NjPh72" src="img/pfad-275@1x.png" />
        <img class="pfad-276-NjPh72" src="img/pfad-273@1x.png" />
      </div>
      <a href="https://borbus-shop.com/"
        ><div class="home-R7vd7x hiraginomarugothicpron-w4-normal-black-18px bp3-animate-enter39" show-on-scroll>
          Home
        </div>
      </a>
      <div class="shop-R7vd7x hiraginomarugothicpron-w4-normal-black-18px bp3-animate-enter40" show-on-scroll>Shop</div>
      <a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-R7vd7x bp3-animate-enter41" show-on-scroll>
          <div class="ber-borbus-Dkha57 hiraginomarugothicpron-w4-normal-black-18px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/"
        ><div class="borbus-R7vd7x hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="gruppe-163-R7vd7x bp3-animate-enter42">
        <div class="rechteck-90-PHURD3"></div>
        <div class="gruppe-347-PHURD3">
          <div class="exklusive-serviceleistungen-hTCiME hiraginomarugothicpron-w4-normal-swirl-16px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-hTCiME">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-frei-mwAmiN hiraginomarugothicpron-w4-normal-swirl-14px">Versand frei</div> </a
            ><img class="truck-mwAmiN" src="img/pfad-179-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-350-PHURD3">
          <div class="knnen-wir-helfen-A6Y6JV hiraginomarugothicpron-w4-normal-swirl-16px">Können wir helfen?</div>
          <div class="gruppe-348-A6Y6JV">
            <div class="gruppe-140-y0yRc0">
              <a href="https://borbus-shop.com/kontakt"
                ><div class="kontakt-xH6j4Q hiraginomarugothicpron-w4-normal-swirl-14px">Kontakt</div>
              </a>
            </div>
            <img class="contact-y0yRc0" src="img/contact-7@1x.png" />
          </div>
          <div class="gruppe-349-A6Y6JV">
            <a href="https://borbus-shop.com/zahlungsoptionen">
              <div class="gruppe-141-rpWxnz">
                <div class="zahlungsoptionen-O2MEXJ hiraginomarugothicpron-w4-normal-swirl-14px">Zahlungsoptionen</div>
              </div></a
            ><img class="money-rpWxnz" src="img/money-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-354-PHURD3">
          <div class="das-unternehmen-kR4qOx hiraginomarugothicpron-w4-normal-swirl-16px">Das Unternehmen</div>
          <div class="gruppe-353-kR4qOx">
            <a href="https://borbus-shop.com/impressum">
              <div class="gruppe-158-at7IM0">
                <a href="https://borbus-shop.com/impressum" onclick="window.event.stopPropagation()"
                  ><div class="impressum-xtucvx hiraginomarugothicpron-w4-normal-swirl-15px">Impressum</div>
                </a>
              </div></a
            >
            <div class="gruppe-154-at7IM0">
              <div class="gruppe-159-KQ8oCa">
                <div class="ellipse-25-FYLQid"></div>
                <div class="i-FYLQid hiraginomarugothicpron-w4-normal-black-12px">i</div>
              </div>
            </div>
          </div>
          <div class="gruppe-160-kR4qOx">
            <div class="gruppe-155-fr92qf">
              <div class="gruppe-138-eYLg1S">
                <a href="https://borbus-shop.com/ueberborbus"
                  ><div class="ber-borbus-5wXATK hiraginomarugothicpron-w4-normal-swirl-15px">Über Borbus</div>
                </a>
              </div>
            </div>
            <div class="b-fr92qf hiraginominchopron-w6-normal-white-20px">B</div>
          </div>
          <div class="gruppe-351-kR4qOx">
            <div class="gruppe-156-CbDxSV">
              <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                ><div class="geschfts-und-nutzungsbediengungen-uGQ2S8 hiraginomarugothicpron-w4-normal-swirl-15px">
                  Geschäfts- und <br />Nutzungsbediengungen
                </div>
              </a>
            </div>
            <img class="solid-CbDxSV" src="img/solid-4@1x.png" />
          </div>
          <div class="gruppe-352-kR4qOx">
            <a href="https://borbus-shop.com/datenschutzerklaerung">
              <div class="gruppe-157-Hkuydq">
                <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                  ><div class="datenschutz-cookies-oOWcm4 hiraginomarugothicpron-w4-normal-swirl-15px">
                    Datenschutz &amp; Cookies
                  </div>
                </a>
              </div></a
            ><img class="cookie-Hkuydq" src="img/cookie-10@1x.png" />
          </div>
        </div>
        <div class="gruppe-355-PHURD3">
          <div class="besuche-uns-tnEUEy hiraginomarugothicpron-w4-normal-swirl-16px">Besuche Uns</div>
          <a href="https://www.instagram.com/borbus_shop/">
            <div class="gruppe-323-tnEUEy">
              <div class="gruppe-162-QEE6gX">
                <div class="instagram-vOjtHt hiraginomarugothicpron-w4-normal-swirl-15px">Instagram</div>
              </div>
              <img class="icon-instagram-QEE6gX" src="img/instagram-sketched-10@1x.png" /></div
          ></a>
        </div>
      </div>
      <img class="ssl-R7vd7x bp3-animate-enter43" src="img/ssl-10@1x.png" />
      <div class="warenkorb-oben-rechts-R7vd7x">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-fuRxWk"
          src="img/iconfinder-basket-ecommerce-shop-4177565@1x.png"
        />
        <div class="gruppe-579-fuRxWk">
          <div class="ellipse-47-hUTW6R"></div>
          <div class="anzahl-warenkorb-hUTW6R hiraginominchopron-w3-normal-gallery-15px">1</div>
        </div>
      </div>
      <div class="shopliste-R7vd7x"></div>
    </div>
    <div class="shop-375-1-all-breakpoints screen">
      <div class="x24-artikel-xqVn08 hiraginomarugothicpron-w4-normal-black-10px">24 Artikel</div>
      <div class="gruppe-293-xqVn08"><img class="linie-29-7edWXx" src="img/linie-29@1x.png" /></div>
      <a href="https://borbus-shop.com/">
        <div class="gruppe-293-pWgzVY">
          <div class="home-dt85RS hiraginomarugothicpron-w4-normal-black-16px bp4-animate-enter39" show-on-scroll>
            Home
          </div>
        </div></a
      >
      <div class="shop-xqVn08 hiraginomarugothicpron-w4-normal-black-16px bp4-animate-enter40" show-on-scroll>Shop</div>
      <a href="https://borbus-shop.com/ueberborbus">
        <div class="gruppe-188-xqVn08 bp4-animate-enter41" show-on-scroll>
          <div class="ber-borbus-d6q8XO hiraginomarugothicpron-w4-normal-black-16px">Über Borbus</div>
        </div></a
      ><a href="https://borbus-shop.com/"
        ><div class="borbus-xqVn08 hiraginominchopron-w6-normal-black-55px">BORBUS</div>
      </a>
      <div class="rechteck-118-xqVn08"></div>
      <div class="gruppe-546-xqVn08">
        <div class="sichere-bezahlung-R3weKt hiraginomarugothicpron-w4-normal-black-10px">Sichere Bezahlung</div>
        <div class="gruppe-199-R3weKt">
          <div class="rechteck-155-F0BIAh"></div>
          <img class="pfad-284-F0BIAh" src="img/pfad-284-1@1x.png" />
          <img class="pfad-285-F0BIAh" src="img/pfad-285-8@1x.png" />
        </div>
      </div>
      <div class="gruppe-548-xqVn08">
        <div class="stoffqualitt-2kraLv hiraginomarugothicpron-w4-normal-black-10px">Stoffqualität</div>
        <div class="iconfinder_4265038_b-2kraLv">
          <div class="ellipse-41-wUTwbN"></div>
          <img class="pfad-286-wUTwbN" src="img/pfad-286@1x.png" />
        </div>
      </div>
      <div class="gruppe-547-xqVn08">
        <div class="handarbeit-xHwWRp hiraginomarugothicpron-w4-normal-black-10px">Handarbeit</div>
        <div class="iconfinder_scissor_s-xHwWRp">
          <img class="pfad-273-vkQ1xZ" src="img/pfad-273@1x.png" />
          <img class="pfad-274-vkQ1xZ" src="img/pfad-274-3@1x.png" />
          <img class="pfad-275-vkQ1xZ" src="img/pfad-275@1x.png" />
          <img class="pfad-276-vkQ1xZ" src="img/pfad-273@1x.png" />
        </div>
      </div>
      <div class="gruppe-327-xqVn08">
        <div class="rechteck-90-kcopHM"></div>
        <div class="gruppe-356-kcopHM">
          <div class="exklusive-serviceleistungen-jvSr17 hiraginomarugothicpron-w4-normal-swirl-10px">
            Exklusive <br />Serviceleistungen
          </div>
          <div class="gruppe-137-jvSr17">
            <a href="https://borbus-shop.com/versandinfo"
              ><div class="versand-frei-998ykp hiraginomarugothicpron-w4-normal-swirl-10px">Versand frei</div> </a
            ><img class="truck-998ykp" src="img/pfad-179-3@1x.png" />
          </div>
        </div>
        <div class="gruppe-359-kcopHM">
          <div class="knnen-wir-helfen-OkaPeC hiraginomarugothicpron-w4-normal-swirl-10px">Können wir helfen?</div>
          <div class="gruppe-357-OkaPeC">
            <div class="gruppe-140-vQaxcq">
              <a href="https://borbus-shop.com/kontakt"
                ><div class="kontakt-e9x3nc hiraginomarugothicpron-w4-normal-swirl-10px">Kontakt</div>
              </a>
            </div>
            <img class="contact-vQaxcq" src="img/contact@1x.png" />
          </div>
          <div class="gruppe-358-OkaPeC">
            <div class="gruppe-141-QxljPi">
              <a href="https://borbus-shop.com/zahlungsoptionen"
                ><div class="zahlungsoptionen-fXC5H2 hiraginomarugothicpron-w4-normal-swirl-10px">Zahlungsoptionen</div>
              </a>
            </div>
            <img class="money-QxljPi" src="img/money-3@1x.png" />
          </div>
        </div>
        <div class="gruppe-363-kcopHM">
          <div class="das-unternehmen-Zx1pL2 hiraginomarugothicpron-w4-normal-swirl-10px">Das Unternehmen</div>
          <div class="gruppe-362-Zx1pL2">
            <a href="https://borbus-shop.com/impressum">
              <div class="gruppe-158-JNpTMK">
                <a href="https://borbus-shop.com/impressum" onclick="window.event.stopPropagation()"
                  ><div class="impressum-2VsGWc hiraginomarugothicpron-w4-normal-swirl-10px">Impressum</div>
                </a>
              </div></a
            >
            <div class="gruppe-154-JNpTMK">
              <div class="gruppe-159-wpQWr8">
                <div class="ellipse-25-eVs8WF"></div>
                <div class="i-eVs8WF hiraginomarugothicpron-w4-normal-black-8px">i</div>
              </div>
            </div>
          </div>
          <div class="gruppe-160-Zx1pL2">
            <div class="gruppe-155-c52cXF">
              <div class="gruppe-138-4HIzIs">
                <a href="https://borbus-shop.com/ueberborbus"
                  ><div class="ber-borbus-vQrUlk hiraginomarugothicpron-w4-normal-swirl-10px">Über Borbus</div>
                </a>
              </div>
            </div>
            <div class="b-c52cXF hiraginominchopron-w6-normal-white-15px">B</div>
          </div>
          <div class="gruppe-361-Zx1pL2">
            <div class="gruppe-156-xKE1Fw">
              <a href="https://borbus-shop.com/allgemeinegeschaftsbedingungen"
                ><div class="geschftsbedien-gungen-yHOjKV hiraginomarugothicpron-w4-normal-swirl-10px">
                  Geschäftsbedien-<br />gungen
                </div>
              </a>
            </div>
            <img class="solid-xKE1Fw" src="img/solid-1@1x.png" />
          </div>
          <div class="gruppe-360-Zx1pL2">
            <a href="https://borbus-shop.com/datenschutzerklaerung">
              <div class="gruppe-157-vxv3C4">
                <a href="https://borbus-shop.com/datenschutzerklaerung" onclick="window.event.stopPropagation()"
                  ><div class="datenschutz-t5x77E hiraginomarugothicpron-w4-normal-swirl-10px">Datenschutz</div>
                </a>
              </div></a
            ><img class="cookie-vxv3C4" src="img/cookie-3-1x-png@1x.png" />
          </div>
        </div>
        <a href="https://www.instagram.com/borbus_shop/" target="_blank">
          <div class="gruppe-325-kcopHM">
            <a href="https://www.instagram.com/borbus_shop/" onclick="window.event.stopPropagation()">
              <div class="gruppe-162-4uxcAt">
                <div class="folge-uns-auf-instagram-Nu3Oq3 hiraginomarugothicpron-w4-normal-swirl-10px">
                  Folge uns auf Instagram
                </div>
              </div></a
            ><img class="icon-instagram-4uxcAt" src="img/instagram-sketched-10@1x.png" /></div></a
        ><img class="ssl-kcopHM bp4-animate-enter42" src="img/ssl-10@1x.png" />
      </div>
      <div class="warenkorb-oben-rechts-xqVn08">
        <img
          class="iconfinder_basket_ecommerce_shop_4177565-1HJT1J"
          src="img/iconfinder-basket-ecommerce-shop-4177565-3-1x-png@1x.png"
        />
        <div class="gruppe-579-1HJT1J">
          <div class="ellipse-47-yG2Wxh"></div>
          <div class="anzahl-warenkorb-yG2Wxh hiraginominchopron-w3-normal-gallery-9px">1</div>
        </div>
      </div>
      <div class="shopliste-xqVn08"></div>
    </div>
    <script>
      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>
  
    {% expose items %}
  </body>
      
</html>
